    .vis-timeline {
      background: #fafcff;
    }

    .vis-item {
      box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
    }

    .vis-item,
    .vis-item.vis-line {
    	background-color:#fff;
    	border-color:#868da4;
    	color:#222;
    }
    
    .vis-item a {
    	color:#222;
    }

    .vis-item.vis-dot {
    }

    .vis-item.vis-selected {
		background-color:#fffef1;
    }

    .vis-time-axis .vis-text {
      padding-top: 10px;
      padding-left: 5px;
    }

    .vis-time-axis .vis-text.vis-major {
      font-weight: bold;
    }

    .vis-time-axis .vis-grid.vis-minor {
    }

    .vis-time-axis .vis-grid.vis-major {

    }