@use '../../themes';
.loadingspinner {
    position: absolute;
    left: 100%;
    top: 44px;
    line-height: 32px;
    background: #fff;
    width: 185px;
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-top: 1px solid transparent;
    &.show {
        display: block;
    }
    .load {
        display: none;
        width: 32px;
        height: 32px;
        svg {
            vertical-align: top;
            path {
                fill: themes.$custom-red;
            }
        }
        &.show {
            display: inline-block;
        }
    }
}