@use '../../base';

.nb-choice-2 {
    .WidgetWrapper {
        border-left: 3px solid var(--primary-color-main);

        &:before {
            display: none;;
        }
    }
}
.WidgetWrapper {
    position: relative;
   
    height: 51px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 5px;
    line-height: 48px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
    width:100%;
    min-width:1px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left:-3px;
        width: 3px;
        height: 20px;
        background: var(--primary-color-main);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top:-10px;
        left:-6px;
        width: 9px;
        height: 9px;
        -moz-box-shadow: 0px 6px 3px -3px #cfcfcf;
        -webkit-box-shadow: 0px 6px 3px -3px #cfcfcf;
        -o-box-shadow: 0px 6px 3px -3px #cfcfcf;
        box-shadow: 0px 6px 3px -3px #cfcfcf;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=3);
    }

    /*text-decoration: underline;*/
    /*&.DatesWidget {
        border-left-color: transparent;
        
        .edit-trait-top {
            display: block;
        }
    }*/
    .underline {
        text-decoration: underline;
    }
    .boolean-value {
        text-decoration: underline;
        cursor: pointer;
    }
    .or {
        color: var(--primary-color-main);
        font-weight: 600;
    }
    .selectAll .underline {
        cursor: pointer;
    }
    &>a,
    &>div {
        position: absolute;
        left: 100%;
        top: 0; 
    }

}