@use "../../../themes";
@use '../../../base';
@use '../../../mixins';
.ClassTypeId{
    display: flex;
    span.unselect{
        position: relative;
        top:-10px;
        right:29px
    }

    &.Highlited {
        @include mixins.arrow-back-colors(themes.$primary-color-main, #fff);
		@include mixins.arrow-front-colors(themes.$primary-color-main, #fff);
        .nice-select{
            border-radius: unset;
            color: #fff;
            background-color: themes.$primary-color-main;
            border-color: #fff;
        }
        &.VariableSelected{
            @include mixins.arrow-front-colors(themes.$primary-color-main, themes.$secondary-color-important);
            @include mixins.arrow-back-colors(themes.$primary-color-main, themes.$secondary-color-important);
            .nice-select{
                border-color: themes.$secondary-color-important;
            }
        }
	}


}