@use "../../../themes";
@use '../../../base';

.StartClassGroup,
.EndClassGroup {
    position: relative;
    margin-right: 0px;
    .selectViewVariable {
        display: none;
        position: absolute;
        top: 50%;
        right: 18px; //+9 pour retrait dans fleche
        margin-top: -8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        z-index: 2;
        cursor: pointer;
        svg{
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }
}

.EndClassGroup {
    position: relative;
    min-width: auto;
    display:flex;
    .EditComponents {
        position: absolute;
        left: 36px;
        top: base.$height-components ;
        line-height: base.$height-components-hover;
        z-index: 101;
        height: base.$height-components;
        padding: 0 0;
        width: auto;
        
        .ActionWhere,
        .ObjectPropertyTypeWidget {
            position: relative;
            border-left: 3px solid themes.$custom-red;
            height: 48px;
            padding-left: 25px;
            padding-right: 5px;
            line-height: 48px;
            /*overflow: hidden;*/
            text-overflow: ellipsis;
            white-space: nowrap;
            display:block;
            width:100%;
            min-width:1px;
            font-size: 14px;
            /*text-decoration: underline;*/
            /*&.DatesWidget {
                border-left-color: transparent;
                
                .edit-trait-top {
                    display: block;
                }
            }*/
            .underline {
                text-decoration: underline;
            }
            .boolean-value {
                text-decoration: underline;
                cursor: pointer;
            }
            .or {
                color: themes.$custom-red;
                font-weight: 600;
            }
            .selectAll .underline {
                cursor: pointer;
            }
            &>a,
            &>div {
                position: absolute;
                left: 100%;
                top: 0;
                
                
            }
            &>a  {
                top: 50%;
                transform:translate(0,-50%);
            }
            &>.listwidget,
            &>.search-widget,
            
            &>.date-widget {
                &>div,
                &>input {
                    display: inline-block;
                }
                &>input {
                    height: 35px;
                    width: 60px;
                }
                &>button {
                    height: 35px;
                    line-height: 20px;
                    margin-left: 5px;
                }
            }
            &>.date-widget {
                &>.easy-autocomplete {
                    width: 176px!important;
                    
                    .easy-autocomplete-container {
                        
                        ul {
                            
                            li {
                                position: relative;
                                width: 296px;
                                padding-right: 120px;
                                
                                span {
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 30px;
                                    width: 60px;
                                    line-height: 20px;
                                    text-align: left;
                                    padding: 5px 12px;
                                    font-size: 14px;
                                    
                                    &.start {
                                        right: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
                input {
                    border-color: #ccc;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
                    color: #555;
                    float: none;
                    padding: 6px 10px;
                }
            }
            &>.search-widget {
                
                &>input {
                    width: 150px;
                    border-color: #ccc;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
                    color: #555;
                    float: none;
                    padding: 6px 12px;
                }
                
            }
            .easy-autocomplete-container>ul>li {
                
                white-space: normal;
            }
        }
        .TimeDatePickerWidget {
            &>.date-widget {
                &>div,
                &>input {
                    display: inline-block;
                }
                &>input {
                    height: 35px;
                    width: 105px;
                }
                &>button {
                    height: 35px;
                    line-height: 20px;
                    margin-left: 5px;
                }
            }
        }
        .ActionWhere {
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 48px;
            width: auto;
            
            .edit-trait {
                top: 9px;
            }
            .edit-num {
                
            }
        }
        .edit-trait {
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            border-top: 3px solid themes.$custom-red;
            display: inline-block;
            
            .edit-trait-top {
                position: absolute;
                bottom: 3px;
                left: -2px;
                display: none;
                border-left: 3px solid themes.$custom-red;
                height: 24px;
            }
        }
        .edit-num {
            position: absolute;
            top: -2px;
            left:-1px;
            transform:translate(-50%,-50%);
            border: 3px solid themes.$custom-red;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 14px;
            font-size: 10px;
            background: #fff;
            font-style: italic;
        }
        
        .SearchWidget,
        .DatesWidget {
            max-width: 600px;
            white-space: nowrap;
            &>div,
            &>input {
                display: inline-block;
                
            }
            &>input {
                width: 70px;
                height: base.$height-components-under;
                border-color: #ccc;
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
                color: #555;
                float: none;
                padding: 6px 12px;
            }
            .easy-autocomplete>input {
                width: 100%;
            }
        }
        
        .SearchWidget {
            &>input {
                width: 200px;
            }
        }
        .ListeWidget {
            .nice-select{
                background: #fff;
                height: base.$height-components-hover;
                line-height: base.$height-components-hover - 6;
                padding-right: 26px;
                .current {
                    display: inline-block;
                    height: base.$height-components-hover - 6;
                    line-height: base.$height-components-hover - 6;
                    vertical-align: bottom;
                    &>span {
                        vertical-align: bottom;
                    }
                }
                .list {
                    li.option {
                        min-height: base.$height-components-hover;
                        line-height: base.$height-components-hover;
                    }
                }
                &:after {
                    margin-top: -2px;
                }
            }
        }
        .TreeWidget {
            .treeBtnDisplay {
                border: 1px solid #ddd;
                border-radius: 5px;
                background: #fff;
                box-shadow: 0px 2px 3px 0px #cfcfcf;
                padding: 5px;
                line-height: 1;
                z-index: 2;
                cursor: pointer;
                img {
                    height: 26px;
                }
            }
            .treeLayer {
                position: absolute;
                top: 50%;
                margin-top: -19px;
                left: calc(100% + 48px);
                border: 1px solid #ddd;
                border-radius: 5px;
                background: #fff;
                box-shadow: 0px 2px 3px 0px #cfcfcf;
                z-index: 1;

                .treeClose {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 22px;
                    height: 22px;
                    vertical-align: top;
                    line-height: 22px;
                    cursor: pointer;
                    i {
                        text-align: center;
                        color: themes.$custom-red-bold;
                        background: #fff !important;
                        font-size: 18px;
                    }
                }

                .treeNotice {
                    padding: 5px;
                    display: none;
                    line-height: 20px;
                }
                .treeDisplay {
                    overflow: auto;
                    max-height: 500px;
                    min-width: 275px;
                    padding: 25px 10px 5px;
                    
                    &.jstree-default .jstree-disabled {
                        opacity: 0.5;
                    }
                    &.jstree-default .jstree-checkbox-disabled {
                        opacity: 0.5;
                    }
                }
                .treeActions {
                    border-top: 2px solid #ddd;
                    padding: 5px 10px;
                    text-align: right;
                    a {
                        border-radius: 5px;
                        color: #fff;
                        display: inline-block;
                        margin-left: 10px;
                        padding: 15px 5px;
                        line-height: 1;
                        cursor: pointer;
                    }
                    a.treeCancel {
                        background: #EE8D67;
                    }
                    a.treeSubmit {
                        background: #84C99E;
                    }
                }
            }
        }
        .button-add {
            border: 3px solid themes.$custom-red;
            border-radius: 15px;
            background: #fff;
            /*color: #212529;*/
            box-sizing: border-box;
            padding: 0 10px;
            &:hover {
                color: themes.$custom-red;
                cursor: pointer;
            }
        }
    }
    &.noPropertyWidget {
        .EditComponents {
            .ActionWhere {
                top: 16px;
                .trait-top {
                    position: absolute;
                    top: -16px;
                    left: -1px;
                    border-left: 3px solid themes.$custom-red ;
                    margin-left: -1px;
                    height: 16px;
                }
            }
        }
    }    
}