/resources
/assets/js/sparql
/assets/icons/*
!/assets/icons/buttons
prepros-6.config
/node_modules
package-lock.json
/dist/
/.vscode/

ontologies/sparnatural-config-core/

ontologies/sparnatural-config-datasources/

ontologies/catalog-v001.xml

ontologies/graph_statistics.rq

ontologies/widoco-1.4.14-jar-with-dependencies.jar

ontologies/java-11-widoco-1.4.17-jar-with-dependencies.jar

docs/how-to-configure/How-to-configure-Sparnatural.html
