$height-components: 48px;
$height-components-under: 42px;
$height-components-hover: 35px;
$margin-component: 30px;
$margin-component-onEdit: 80px;

$custom-red: rgb(250,136,3) ;

body {
	section {
		padding-top: 30px;
	}
	li.completed {
		&>.CriteriaGroup {
			margin-bottom: $margin-component;
		}
	}
	.CriteriaGroup {
		border: 1px solid #ddd;
		display: flex;
		position: relative;
		border-radius: 5px;
		background: #fff;
		margin-top: $margin-component;
		margin-bottom: $margin-component-onEdit;
		clear: both;
		
		&>div {
			
			min-width: 100px;
			background: #fff;
			padding: 2px 5px;
		}
		.EndClassGroup {
			position: relative;
			.EditComponents {
				position: absolute;
				left: 0;
				top: $height-components - 1;
				line-height: $height-components-hover;
				z-index: 101;
				height: $height-components;
				padding: 5px 0;
				
				.DatesWidget {
					max-width: 600px;
					white-space: nowrap;
					&>div,
					&>input {
						display: inline-block;
						
					}
					&>input {
						width: 70px;
						height: $height-components-under;
						border-color: #ccc;
						border-radius: 4px;
						border-style: solid;
						border-width: 1px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
						color: #555;
						float: none;
						padding: 6px 12px;
					}
				}
			}
			.ActionOr {
				/*top: $height-components*2;*/
			}
			
		}
		.EndClassWidgetGroup {
			min-width: 35%;
			padding: 2px 15px;
			.easy-autocomplete {
				width: 100%!important;
			}
			input {
				width: 100%!important;
				display: block;
			}
		}
		
		.ActionsGroup {
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			width: 100%;
			height: 46px;
			padding: 0;
			background: transparent;
			z-index: 100;
			
			&>div {
				position: absolute;
			}
			.ActionRemove {
				right: 5px;
				top: -46px;
				line-height: 46px;
			}
			.ActionAnd {
				left: 0;
				bottom: 0;
				line-height: 46px;
				width: 46px;
				text-align: center;
			}
			
		}
		&.completed {
			
			
		}
	}
	.haveOrChild {
		
		&>.CriteriaGroup {
			
			.EndClassGroup .ObjectPropertyTypeWidget {
				display: none;
			}
		}
		
	}
	.SimSemSearch {
		.bg-wrapper {
			
		}
		ul.componentsListe {
			padding: 0;
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			&,
			ul {
				list-style-type: none;
				padding: 0;
				background: transparent;
				clear: both;
				border: 0 solid #transparent
			}
			
			ul {
				
				/*li>div {
					margin-left: 46px;
				}
				li li>div {
					margin-left: 92px;
					*
				}*/
				li li.Hover>div>div> .ActionOr.ShowOnHover {
					display: none;
				}
			}
			li.groupe {
				margin: 0;
				padding-top: 1px;
				padding-bottom: 1px;
				display: block;
				clear: both;
				/*overflow: hidden;*/
				
				& li.groupe {
					margin-left: 46px;
				}
				&>div {
					
				}
				
				&>div>div>.ShowOnHover {
					display: none;
				}
				&.Hover>div>div>.ShowOnHover {
					display: block;
				}
				li.groupe li.groupe .ActionOr.ShowOnHover,
				&.OrImpossible.Hover>div .ActionOr.ShowOnHover,
				&.Hover>div.completed>div .ActionOr.ShowOnHover {
					display: none;
				}
				.easy-autocomplete {
					input {
						height: $height-components-hover;
					}
				}
				.easy-autocomplete-container {
					z-index: 999;
					ul {
						line-height: 20px;
						background: #fff;
						li {
							padding: 5px;
							&.selected {
								
								background: $custom-red ;
							}
						}
					}
				}
				
				.nice-select {
					background: transparent;
					border-color: transparent;
					ul.list li {
						border-bottom: solid 1px #e8e8e8;
						img {
							height : 40px;
							&.highlited {
								display: none;
							}
						}
						&.selected,
						&.focus,
						&:hover {
							background: $custom-red ;
							color: #fff;
							img {
								display: none;
								&.highlited {
									display: inline;
								}
							}
						}
					}
					ul.list {
						background: #fff;
						top: 0;
						margin-top: 0;
					}
					ul.list:hover .option:not(:hover) {
						color: #000;
						img {
							display: inline;
							
							&.highlited {
								display: none;
							}
						}
					}
					.current {
						img {
							height: 40px;
							&.highlited {
								display: none;
							}
						}
					}
				}
				.nice-select.disabled {
					color: #888;
					border-color: transparent;
				}
				
				
				
				&.completed {
					&>div .Highlited {
						background: #ff312e;
						margin-right: 23px;
						
						.nice-select {
								background: transparent;
								border-color: transparent;
								color: #fff;
								.current {
									img {
										display: none;
										&.highlited {
											display: inline;
										}
									}
								}
							}
							.nice-select.disabled {
								color: #fff;
								border-color: transparent;
							}
					}
					&>div .Highlited:after{
						content: '';
						width: 0;
						height: 0;
						line-height: 0;
						padding: 0;
						display: inline-block;float: right;margin-right: -15px;
						border-style: solid;
						border-width: 21px 0 21px 15px;
						border-color: transparent transparent transparent #ff312e;
						
					}
					&>div .EndClassGroup .Highlited:before{
						content: '';
						width: 0;
						height: 0;
						line-height: 0;
						padding: 0;
						display: inline-block;float:left;
						border-style: solid;
						border-width: 21px 0 21px 15px;
						border-color: transparent transparent transparent #fff;
					}
				
				}
				/*.ActionAnd.ShowOnHover {
					display: none;
				}*/
			}
			/*ul>li.groupe:last-child .ActionAnd.ShowOnHover {
					display: block;
				}*/
		}
	
	}
	

}

