@import "../js/jquery-nice-select/css/nice-select.css";
@import "../js/EasyAutocomplete/easy-autocomplete.min.css";



$height-components: 48px;
$height-components-under: 42px;
$height-components-hover: 35px;
$margin-component: 30px;
$margin-component-onEdit: 80px;
$margin-children-li: 75px;

$custom-red: rgb(250,136,3) ;


@mixin triangle-before() {
	padding-left: 20px;
	&:before {
		content: '';
		width: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		display: inline-block;float:left;
		border-style: solid;
		border-width: 21px 0 21px 15px;
		border-color: transparent transparent transparent transparent;
		margin-left: -20px;
	}
	& {
		position: relative;
		padding-left: 18px;
	}
	&>.triangle-b,
	&>.triangle-h {
		position: absolute;
		left: 3px;
		background: transparent;
	}
	&>.triangle-h {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 21px 0;
		border-color: transparent $custom-red transparent transparent;
		top: 0
	}
	&>.triangle-b {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 21px 15px;
		border-color: transparent transparent $custom-red transparent;
		bottom: 0;
	}
	
}
@mixin triangle-after() {
	padding-right: 0;
	&:after {
		content: '';
		width: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		display: inline-block;float: right;margin-right: 0;
		border-style: solid;
		border-width: 21px 0 21px 15px;
		border-color: transparent transparent transparent $custom-red;
	}
	
}

body {
	section {
		padding-top: 30px;
	}
	li.completed {
		&>.CriteriaGroup {
			margin-bottom: $margin-component;
		}
	}
	.CriteriaGroup {
		border: 1px solid #ddd;
		display: flex;
		position: relative;
		border-radius: 5px;
		background: #fff;
		margin-top: $margin-component;
		margin-bottom: $margin-component-onEdit;
		clear: both;
		
-moz-box-shadow: 0px 2px 3px 0px #cfcfcf;
-webkit-box-shadow: 0px 2px 3px 0px #cfcfcf;
-o-box-shadow: 0px 2px 3px 0px #cfcfcf;
box-shadow: 0px 2px 3px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=3);
		
		&>div {
			
			min-width: 80px;
			/*background: #fff;*/
			padding: 2px 5px;
		}
		.ObjectPropertyGroup {
			
			.current {
				font-style: italic;
			}
		}
		
		
		.EndClassGroup {
			position: relative;
			min-width: auto;
			.EditComponents {
				position: absolute;
				left: 36px;
				top: $height-components - 1;
				line-height: $height-components-hover;
				z-index: 101;
				height: $height-components;
				padding: 0 0;
				width: auto;
				
				.ActionWhere,
				.ObjectPropertyTypeWidget {
					position: relative;
					border-left: 3px solid $custom-red;
					height: 48px;
					padding-left: 25px;
					padding-right: 5px;
					line-height: 48px;
					/*overflow: hidden;*/
					text-overflow: ellipsis;
					white-space: nowrap;
					display:block;
					width:100%;
					min-width:1px;
					font-size: 14px;
					text-decoration: underline;
					/*&.DatesWidget {
						border-left-color: transparent;
						
						.edit-trait-top {
							display: block;
						}
					}*/
					&>a,
					&>div {
						position: absolute;
						left: 100%;
						top: 0;
						
						
					}
					&>a  {
						top: 50%;
						transform:translate(0,-50%);
					}
					&>.listwidget,
					&>.search-widget,
					
					&>.date-widget {
						&>div,
						&>input {
							display: inline-block;
						}
						&>input {
							height: 35px;
							width: 60px;
						}
						&>button {
							height: 35px;
							line-height: 20px;
							margin-left: 5px;
						}
					}
					&>.date-widget {
						&>.easy-autocomplete {
							width: 176px!important;
							
							.easy-autocomplete-container {
								
								ul {
									
									li {
										position: relative;
										width: 296px;
										padding-right: 120px;
										
										span {
											display: block;
											position: absolute;
											top: 0;
											right: 0;
											height: 30px;
											width: 60px;
											line-height: 20px;
											text-align: left;
											padding: 5px 12px;
											font-size: 14px;
											
											&.start {
												right: 60px;
											}
										}
									}
								}
							}
						}
						input {
							border-color: #ccc;
							border-radius: 4px;
							border-style: solid;
							border-width: 1px;
							box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
							color: #555;
							float: none;
							padding: 6px 10px;
						}
					}
					&>.search-widget, {
						
						&>input {
							width: 150px;
							border-color: #ccc;
							border-radius: 4px;
							border-style: solid;
							border-width: 1px;
							box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
							color: #555;
							float: none;
							padding: 6px 12px;
						}
						
					}
					.easy-autocomplete-container>ul>li {
						
						white-space: normal;
					}
				}
				.ActionWhere {
					height: 20px;
					line-height: 20px;
					position: absolute;
					top: 48px;
					width: auto;
					
					.edit-trait {
						top: 9px;
					}
					.edit-num {
						
					}
				}
				.edit-trait {
					position: absolute;
					top: 50%;
					left: 0;
					width: 20px;
					border-top: 3px solid $custom-red;
					display: inline-block;
					
					.edit-trait-top {
						position: absolute;
						bottom: 3px;
						left: -2px;
						display: none;
						border-left: 3px solid $custom-red;
						height: 24px;
					}
				}
				.edit-num {
					position: absolute;
					top: -2px;
					left:-1px;
					transform:translate(-50%,-50%);
					border: 3px solid $custom-red;
					border-radius: 10px;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 14px;
					font-size: 10px;
					background: #fff;
					font-style: italic;
				}
				
				.SearchWidget,
				.DatesWidget {
					max-width: 600px;
					white-space: nowrap;
					&>div,
					&>input {
						display: inline-block;
						
					}
					&>input {
						width: 70px;
						height: $height-components-under;
						border-color: #ccc;
						border-radius: 4px;
						border-style: solid;
						border-width: 1px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
						color: #555;
						float: none;
						padding: 6px 12px;
					}
					.easy-autocomplete>input {
						width: 100%;
					}
				}
				
				.SearchWidget {
					&>input {
						width: 200px;
					}
				}
				.ListeWidget {
					
					
					.nice-select{
						background: #fff;
						height: $height-components-hover;
						line-height: $height-components-hover;
						.current {
								
						}
						.list {
							li.option {
								min-height: $height-components-hover;
								line-height: $height-components-hover;
							}
						}
					}
				}
				.button-add {
					border: 3px solid $custom-red;
					border-radius: 15px;
					background: #fff;
					/*color: #212529;*/
					box-sizing: border-box;
					padding: 0 10px;
					&:hover {
						color: $custom-red;
						cursor: pointer;
					}
				}
			}
			.ActionWhere {
				/*top: $height-components*2;*/
			}
			
		}
		.EndClassWidgetGroup {
			min-width: 35%;
			padding: 2px 15px 2px 0;
			margin-left: -14px;
			display: flex;
			
			-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	
			.easy-autocomplete {
				width: 100%!important;
			}
			input {
				width: 100%!important;
				display: block;
			}
			.EndClassWidgetAddOrValue,
			.EndClassWidgetValue {
				/*line-height: 0;*/
				color: #fff;
				font-size: 14px;
				display: inline-block;
				padding: 0 0 0 15px;
				span {
					/*line-height: $height-components-under;*/
					display: inline-block;
					vertical-align: middle;
					margin: 0;
				}
				span.label-two-line {
					line-height: $height-components-under / 2;
					line-height: 21px;
				}
			}
			.EndClassWidgetAddOrValue {
				color: #fff;
				/*margin-left: 15px;*/
				line-height: 42px;
				height: 42px;
				font-size: 20px;
				cursor: pointer;
				vertical-align: middle;
				span {
					line-height: 42px;
					vertical-align: baseline;
					display: inline-block;
					height: 42px;
				}
			}
			
		}
		
		.ActionsGroup {
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			width: 100%;
			height: 46px;
			padding: 0;
			background: transparent;
			z-index: 100;
			
			&>div {
				position: absolute;
			}
			.ActionRemove {
				right: 5px;
				top: -46px;
				line-height: 46px;
				a {
					cursor: pointer;
					display: inline-block;line-height: 42px;
					vertical-align: top;
					padding: 0 15px;
				}
			}
			.ActionAnd {
				left: ($margin-children-li - 45) /2;
				top: $margin-component / 2;
				line-height: 46px;
				/*width: 46px;*/
				text-align: center;
			}
			
		}
		&.completed {
			
			
		}
	}
	
	.haveWhereChild {
		position: relative;
		&>.link-where-bottom {
			position: absolute;
			left: 200px;
			top: $height-components + $margin-component ;
			height: $margin-component + 1;
			border-left: 3px solid $custom-red;
			display: block;
		}
		
		&>.CriteriaGroup {
			
			.EndClassGroup .ObjectPropertyTypeWidget {
				display: none;
			}
		}
		&>ul {
			position: relative;
			&>.lien-top {
				position: absolute;
				top: -2px;
				left: 111px;
				border-left: 3px solid $custom-red;
				border-top: 3px solid $custom-red;
				width: attr(data-before-width)px ;
				height: 36px;
				display: block;
				&>span {
					position: absolute;
					top: -17px;
					left: -2px;;
					display: block;
					background: #fff;
					border: 2px solid $custom-red ;
					border-radius: 15px;
					height: 30px;
					line-height: 20px;
					padding: 2px 10px;
					width: auto;
					transform: translateX(-50%);
				}
			}
		}
		
	}
	.Sparnatural {
		.bg-wrapper {
			
		}
		ul.componentsListe {
			padding: 0;
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			&,
			ul {
				list-style-type: none;
				padding: 0;
				background: transparent;
				clear: both;
				border: 0 solid #transparent
			}
			
			ul {
				
				/*li>div {
					margin-left: 46px;
				}
				li li>div {
					margin-left: 92px;
					*
				}*/
				li li.Hover>div>div> .ActionWhere.ShowOnHover {
					display: none;
				}
			}
			li.groupe {
				margin: 0;
				padding-top: 1px;
				padding-bottom: 1px;
				display: block;
				clear: both;
				/*overflow: hidden;*/
				
				& li.groupe {
					margin-left: $margin-children-li;
				}
				&>div {
					
				}
				.ActionAnd {
					
				}
				.ActionWhere {
					display: inline-block;
				}
				.ActionAnd {
					.trait-and-bottom {
						position: absolute;
						top: -14px;
						left: 50%;
						border-left: 3px solid $custom-red ;
						margin-left: -1px;
						height: 15px;
						
					}
					a {
						cursor: pointer;
						display: block;
						background: #fff;
						border: 2px solid $custom-red ;
						border-radius: 15px;
						height: 30px;
						line-height: 20px;
						padding: 2px 10px;
						width: auto;
						text-align: center;
						
						&:hover {
							color: $custom-red ;
						}
					}
				}
				.ActionWhere a {
					cursor: pointer;
					display: block;
					background: #fff;
					border: 2px solid $custom-red ;
					border-radius: 13px;
					height: 26px;
					line-height: 20px;
					min-width: 26px;
					text-align: center;
					font-size: 14px;
					color: $custom-red ;
					font-weight: bold;
					padding: 0;
					
					&:hover {
						color: $custom-red ;
					}
				}
				
				&>div>div>.ShowOnHover {
					display: none;
				}
				&.Hover>div>div>.ShowOnHover {
					display: block;
				}
				li.addWereDisable .ActionWhere.ShowOnHover,
				&.WhereImpossible.Hover>div .ActionWhere.ShowOnHover,
				&.Hover>div.completed>div .ActionWhere.ShowOnHover {
					display: none;
				}
				&.addWereDisable>div .ObjectPropertyTypeWidget,
				&.WhereImpossible>div .ObjectPropertyTypeWidget {
					border-left-color: transparent;

					.edit-trait-top {
						display: block;
					}
				}
				.easy-autocomplete {
					input {
						height: $height-components-hover;
						box-sizing: border-box;
					}
				}
				.easy-autocomplete-container {
					z-index: 999;
					ul {
						line-height: 20px;
						background: #fff;
						li {
							padding: 5px;
							&.selected {
								
								background: $custom-red ;
							}
						}
					}
				}
				&.WhereImpossible.completed {
					
					&>div .EndClassWidgetAddOrValue,
					&>div .EndClassWidgetValue {
						max-width: 220px;
						height: 42px;
						overflow: hidden;
						padding-right: 15px;
						margin-right: -15px;
						display: block;
						
						@include triangle-before();
						@include triangle-after();
						span {
							background: $custom-red ;
							height: 42px;
							
						}
						p {
							line-height: 42px;
							height: 42px;
							width: calc(100% - 15px);
							background: $custom-red ;
							margin: 0;
							padding: 0 0 0 5px;
							display: inline-block;
							overflow: hidden;
							text-overflow: ellipsis;
							
							text-align: center;
							span {
								line-height: 1;
								display: inline;
								vertical-align: baseline;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							
							}
						}
					}
					
				}
				
				.nice-select {
					background: transparent;
					border-color: transparent;
					padding-left: 10px;
					ul.list li {
						border-bottom: solid 1px #e8e8e8;
						img {
							height : 40px;
							&.highlited {
								display: none;
							}
						}
						&.selected,
						&.focus,
						&:hover {
							background: $custom-red ;
							color: #fff;
							img {
								display: none;
								&.highlited {
									display: inline;
								}
							}
						}
					}
					ul.list {
						background: #fff;
						top: 0;
						margin-top: 0;
						max-height: 450px;
						overflow-y: auto;
					}
					ul.list:hover .option:not(:hover) {
						color: #000;
						img {
							display: inline;
							
							&.highlited {
								display: none;
							}
						}
					}
					.current {
						img {
							height: 40px;
							&.highlited {
								display: none;
							}
						}
					}
				}
				.nice-select.disabled {
					color: #888;
					border-color: transparent;
				}
				
				
				
				&.completed {
					&>div .Highlited {
						background: $custom-red;
						margin-right: 23px;
						
						.nice-select {
								background: transparent;
								border-color: transparent;
								color: #fff;
								.current {
									img {
										display: none;
										&.highlited {
											display: inline;
										}
									}
								}
							}
							.nice-select.disabled {
								color: #fff;
								border-color: transparent;
							}
					}
					&>div .Highlited:after{
						content: '';
						width: 0;
						height: 0;
						line-height: 0;
						padding: 0;
						display: inline-block;float: right;margin-right: -15px;
						border-style: solid;
						border-width: 21px 0 21px 15px;
						border-color: transparent transparent transparent $custom-red;
						
					}
					&>div .EndClassGroup .Highlited:before{
						content: '';
						width: 0;
						height: 0;
						line-height: 0;
						padding: 0;
						display: inline-block;float:left;
						border-style: solid;
						border-width: 21px 0 21px 15px;
						border-color: transparent transparent transparent #fff;
					}
					&>div>div .EditComponents {
						.ActionWhere,
						.ObjectPropertyTypeWidget {
							display: none;
						}
					}
					&>div>div .EditComponents.newOr {
						.ObjectPropertyTypeWidget {
							display: block;
						}
					}
					&.WhereImpossible {
						
						&>div .EndClassGroup .Highlited {
							background: transparent;
							color: #888;
							margin-right: 0;
							
							&:before,
							&:after {
								display: none;
							}
							.current {
								color: #888;
								img {
									display: inline;
									&.highlited {
										display: none;
									}
								}
							}
						}
						
					}
				
				}
				/*.ActionAnd.ShowOnHover {
					display: none;
				}*/
			}
			li.groupe {
				&>.link-and-bottom {
					display: none;
				}
			}
			li.groupe.hasAnd {
				position: relative;
				&>.link-and-bottom {
					display: block;
					position: absolute;
					left: 36px;
					top: $height-components / 2 + $margin-component;
					border-left: 3px solid $custom-red;
					
					span {
						position: absolute;
						top: 50%;
						left: -2px;
						display: block;
						background: #fff;
						border: 2px solid $custom-red ;
						border-radius: 15px;
						height: 30px;
						line-height: 20px;
						padding: 2px 10px;
						width: auto;
						transform: translate(-50%, -50%);
					}
				}
				&.Hover > div > div > .ShowOnHover.ActionAnd {
					display: none;
				}
			}
			/*ul>li.groupe:last-child .ActionAnd.ShowOnHover {
					display: block;
				}*/
		}
	
	}
	

}