@use "../themes";
.submitSectionWrapper {
    height: 41px;
    background: themes.$custom-green ;
    .submitSection {
        position: relative;
        
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
        a {
            position: absolute;
            top: 14px;
            right: 0;
            width: 54px;
            height: 54px;
            padding: 10px;
            padding-left: 12px;
            border-radius: 5px;
            background: themes.$custom-green-bold;
            box-shadow: 0px 2px 3px 0px #cfcfcf;
            cursor: pointer;
            z-index: 2;
            svg {
                display: block;
                max-width:  34px;
                height: 34px;
                path {
                    fill:#FFFFFF;
                    width: auto;
                    height: auto;
                }
            }
            svg.playLoader {
                display: none;
                max-width:  44px;
                height: 44px;
            }

            &.submitDisable {
                background: themes.$custom-silver-light;
                cursor: default;
                svg {
                    path {
                        fill:themes.$custom-silver;
                    }
                }
                &.loadingEnabled {
                    padding: 4px;
                    svg.playIcon {
                        display: none;
                    }
                    svg.playLoader {
                        display: block;
                        path {
                            fill:themes.$custom-green-bold;
                        }
                        
                    }
                }
            }
        }
    }
}

