body section {
  padding-top: 30px; }

body li.completed > .CriteriaGroup {
  margin-bottom: 30px; }

body .CriteriaGroup {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 5px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 80px;
  clear: both; }
  body .CriteriaGroup > div {
    min-width: 80px;
    /*background: #fff;*/
    padding: 2px 5px; }
  body .CriteriaGroup .ObjectPropertyGroup .current {
    font-style: italic; }
  body .CriteriaGroup .EndClassGroup {
    position: relative;
    min-width: auto; }
    body .CriteriaGroup .EndClassGroup .EditComponents {
      position: absolute;
      left: 0;
      top: 47px;
      line-height: 35px;
      z-index: 101;
      height: 48px;
      padding: 5px 0; }
      body .CriteriaGroup .EndClassGroup .EditComponents .SearchWidget,
      body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget {
        max-width: 600px;
        white-space: nowrap; }
        body .CriteriaGroup .EndClassGroup .EditComponents .SearchWidget > div,
        body .CriteriaGroup .EndClassGroup .EditComponents .SearchWidget > input,
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > div,
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > input {
          display: inline-block; }
        body .CriteriaGroup .EndClassGroup .EditComponents .SearchWidget > input,
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > input {
          width: 70px;
          height: 42px;
          border-color: #ccc;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          color: #555;
          float: none;
          padding: 6px 12px; }
      body .CriteriaGroup .EndClassGroup .EditComponents .SearchWidget > input {
        width: 200px; }
      body .CriteriaGroup .EndClassGroup .EditComponents .ListeWidget .nice-select {
        background: #fff;
        height: 35px;
        line-height: 35px; }
        body .CriteriaGroup .EndClassGroup .EditComponents .ListeWidget .nice-select .list li.option {
          min-height: 35px;
          line-height: 35px; }
    body .CriteriaGroup .EndClassGroup .ActionOr {
      /*top: $height-components*2;*/ }
  body .CriteriaGroup .EndClassWidgetGroup {
    min-width: 35%;
    padding: 2px 15px 2px 0;
    margin-left: -14px; }
    body .CriteriaGroup .EndClassWidgetGroup .easy-autocomplete {
      width: 100% !important; }
    body .CriteriaGroup .EndClassWidgetGroup input {
      width: 100% !important;
      display: block; }
    body .CriteriaGroup .EndClassWidgetGroup .EndClassWidgetValue {
      line-height: 0;
      color: #fff;
      font-size: 14px;
      display: inline-block;
      padding: 0 0 0 15px; }
      body .CriteriaGroup .EndClassWidgetGroup .EndClassWidgetValue span {
        line-height: 42px;
        display: inline-block; }
      body .CriteriaGroup .EndClassWidgetGroup .EndClassWidgetValue span.label-two-line {
        line-height: 21px;
        line-height: 21px; }
  body .CriteriaGroup .ActionsGroup {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 46px;
    padding: 0;
    background: transparent;
    z-index: 100; }
    body .CriteriaGroup .ActionsGroup > div {
      position: absolute; }
    body .CriteriaGroup .ActionsGroup .ActionRemove {
      right: 5px;
      top: -46px;
      line-height: 46px; }
      body .CriteriaGroup .ActionsGroup .ActionRemove a {
        cursor: pointer;
        display: inline-block;
        line-height: 42px;
        vertical-align: top;
        padding: 0 15px; }
    body .CriteriaGroup .ActionsGroup .ActionAnd {
      left: 15px;
      top: 15px;
      line-height: 46px;
      width: 46px;
      text-align: center; }

body .haveOrChild {
  position: relative; }
  body .haveOrChild > .link-where-bottom {
    position: absolute;
    left: 200px;
    top: 78px;
    height: 31px;
    border-left: 3px solid #fa8803;
    display: block; }
  body .haveOrChild > .CriteriaGroup .EndClassGroup .ObjectPropertyTypeWidget {
    display: none; }
  body .haveOrChild > ul {
    position: relative; }
    body .haveOrChild > ul > .lien-top {
      position: absolute;
      top: -2px;
      left: 111px;
      border-left: 3px solid #fa8803;
      border-top: 3px solid #fa8803;
      width: attr(data-before-width) px;
      height: 36px;
      display: block; }
      body .haveOrChild > ul > .lien-top > span {
        position: absolute;
        top: -17px;
        left: -2px;
        display: block;
        background: #fff;
        border: 2px solid #fa8803;
        border-radius: 15px;
        height: 30px;
        line-height: 20px;
        padding: 2px 10px;
        width: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

body .SimSemSearch ul.componentsListe {
  padding: 0;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  /*ul>li.groupe:last-child .ActionAnd.ShowOnHover {
					display: block;
				}*/ }
  body .SimSemSearch ul.componentsListe,
  body .SimSemSearch ul.componentsListe ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
    clear: both;
    border: 0 solid #transparent; }
  body .SimSemSearch ul.componentsListe ul {
    /*li>div {
					margin-left: 46px;
				}
				li li>div {
					margin-left: 92px;
					*
				}*/ }
    body .SimSemSearch ul.componentsListe ul li li.Hover > div > div > .ActionOr.ShowOnHover {
      display: none; }
  body .SimSemSearch ul.componentsListe li.groupe {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    clear: both;
    /*overflow: hidden;*/
    /*.ActionAnd.ShowOnHover {
					display: none;
				}*/ }
    body .SimSemSearch ul.componentsListe li.groupe li.groupe {
      margin-left: 75px; }
    body .SimSemSearch ul.componentsListe li.groupe .ActionOr {
      display: inline-block; }
    body .SimSemSearch ul.componentsListe li.groupe .ActionAnd a,
    body .SimSemSearch ul.componentsListe li.groupe .ActionOr a {
      cursor: pointer;
      display: block;
      background: #fff;
      border: 2px solid #fa8803;
      border-radius: 15px;
      height: 30px;
      line-height: 20px;
      padding: 2px 4px;
      width: auto; }
    body .SimSemSearch ul.componentsListe li.groupe > div > div > .ShowOnHover {
      display: none; }
    body .SimSemSearch ul.componentsListe li.groupe.Hover > div > div > .ShowOnHover {
      display: block; }
    body .SimSemSearch ul.componentsListe li.groupe li.groupe li.groupe .ActionOr.ShowOnHover,
    body .SimSemSearch ul.componentsListe li.groupe.OrImpossible.Hover > div .ActionOr.ShowOnHover,
    body .SimSemSearch ul.componentsListe li.groupe.Hover > div.completed > div .ActionOr.ShowOnHover {
      display: none; }
    body .SimSemSearch ul.componentsListe li.groupe .easy-autocomplete input {
      height: 35px; }
    body .SimSemSearch ul.componentsListe li.groupe .easy-autocomplete-container {
      z-index: 999; }
      body .SimSemSearch ul.componentsListe li.groupe .easy-autocomplete-container ul {
        line-height: 20px;
        background: #fff; }
        body .SimSemSearch ul.componentsListe li.groupe .easy-autocomplete-container ul li {
          padding: 5px; }
          body .SimSemSearch ul.componentsListe li.groupe .easy-autocomplete-container ul li.selected {
            background: #fa8803; }
    body .SimSemSearch ul.componentsListe li.groupe.OrImpossible.completed > div .EndClassWidgetValue {
      background: #fa8803;
      padding-left: 20px;
      padding-right: 0; }
      body .SimSemSearch ul.componentsListe li.groupe.OrImpossible.completed > div .EndClassWidgetValue:before {
        content: '';
        width: 0;
        height: 0;
        line-height: 0;
        padding: 0;
        display: inline-block;
        float: left;
        border-style: solid;
        border-width: 21px 0 21px 15px;
        border-color: transparent transparent transparent #fff;
        margin-left: -20px; }
      body .SimSemSearch ul.componentsListe li.groupe.OrImpossible.completed > div .EndClassWidgetValue:after {
        content: '';
        width: 0;
        height: 0;
        line-height: 0;
        padding: 0;
        display: inline-block;
        float: right;
        margin-right: -15px;
        border-style: solid;
        border-width: 21px 0 21px 15px;
        border-color: transparent transparent transparent #fa8803; }
    body .SimSemSearch ul.componentsListe li.groupe .nice-select {
      background: transparent;
      border-color: transparent;
      padding-left: 10px; }
      body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li {
        border-bottom: solid 1px #e8e8e8; }
        body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li img {
          height: 40px; }
          body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li img.highlited {
            display: none; }
        body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.selected, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.focus, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li:hover {
          background: #fa8803;
          color: #fff; }
          body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.selected img, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.focus img, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li:hover img {
            display: none; }
            body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.selected img.highlited, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li.focus img.highlited, body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list li:hover img.highlited {
              display: inline; }
      body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list {
        background: #fff;
        top: 0;
        margin-top: 0; }
      body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) {
        color: #000; }
        body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) img {
          display: inline; }
          body .SimSemSearch ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) img.highlited {
            display: none; }
      body .SimSemSearch ul.componentsListe li.groupe .nice-select .current img {
        height: 40px; }
        body .SimSemSearch ul.componentsListe li.groupe .nice-select .current img.highlited {
          display: none; }
    body .SimSemSearch ul.componentsListe li.groupe .nice-select.disabled {
      color: #888;
      border-color: transparent; }
    body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited {
      background: #fa8803;
      margin-right: 23px; }
      body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited .nice-select {
        background: transparent;
        border-color: transparent;
        color: #fff; }
        body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited .nice-select .current img {
          display: none; }
          body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited .nice-select .current img.highlited {
            display: inline; }
      body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited .nice-select.disabled {
        color: #fff;
        border-color: transparent; }
    body .SimSemSearch ul.componentsListe li.groupe.completed > div .Highlited:after {
      content: '';
      width: 0;
      height: 0;
      line-height: 0;
      padding: 0;
      display: inline-block;
      float: right;
      margin-right: -15px;
      border-style: solid;
      border-width: 21px 0 21px 15px;
      border-color: transparent transparent transparent #fa8803; }
    body .SimSemSearch ul.componentsListe li.groupe.completed > div .EndClassGroup .Highlited:before {
      content: '';
      width: 0;
      height: 0;
      line-height: 0;
      padding: 0;
      display: inline-block;
      float: left;
      border-style: solid;
      border-width: 21px 0 21px 15px;
      border-color: transparent transparent transparent #fff; }
    body .SimSemSearch ul.componentsListe li.groupe.completed > div > div .EditComponents .ActionOr,
    body .SimSemSearch ul.componentsListe li.groupe.completed > div > div .EditComponents .ObjectPropertyTypeWidget {
      display: none; }
    body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited {
      background: transparent;
      color: #888;
      margin-right: 0; }
      body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited:before, body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited:after {
        display: none; }
      body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited .current {
        color: #888; }
        body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited .current img {
          display: inline; }
          body .SimSemSearch ul.componentsListe li.groupe.completed.OrImpossible > div .EndClassGroup .Highlited .current img.highlited {
            display: none; }
