body section {
  padding-top: 30px; }

body .CriteriaGroup {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 5px;
  background: #fff;
  margin-top: 46px;
  margin-bottom: 46px;
  clear: both; }
  body .CriteriaGroup > div {
    min-width: 100px;
    background: #fff;
    padding: 2px 5px; }
  body .CriteriaGroup .EndClassGroup {
    position: relative; }
    body .CriteriaGroup .EndClassGroup .EditComponents {
      position: absolute;
      left: 0;
      top: 47px;
      line-height: 46px;
      z-index: 101;
      height: 48px; }
      body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget {
        max-width: 600px;
        white-space: nowrap; }
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > div,
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > input {
          display: inline-block; }
        body .CriteriaGroup .EndClassGroup .EditComponents .DatesWidget > input {
          width: 70px;
          height: 42px;
          border-color: #ccc;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          color: #555;
          float: none;
          padding: 6px 12px; }
    body .CriteriaGroup .EndClassGroup .ActionOr {
      /*top: $height-components*2;*/ }
  body .CriteriaGroup .EndClassWidgetGroup {
    min-width: 35%;
    padding: 2px 15px; }
    body .CriteriaGroup .EndClassWidgetGroup .easy-autocomplete {
      width: 100% !important; }
    body .CriteriaGroup .EndClassWidgetGroup input {
      width: 100% !important;
      display: block; }
  body .CriteriaGroup .ActionsGroup {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 46px;
    padding: 0;
    background: transparent;
    z-index: 100; }
    body .CriteriaGroup .ActionsGroup > div {
      position: absolute; }
    body .CriteriaGroup .ActionsGroup .ActionRemove {
      right: 5px;
      top: -46px;
      line-height: 46px; }
    body .CriteriaGroup .ActionsGroup .ActionAnd {
      left: 0;
      bottom: 0;
      line-height: 46px;
      width: 46px;
      text-align: center; }

body .haveOrChild > .CriteriaGroup .EndClassGroup .ObjectPropertyTypeWidget {
  display: none; }

body form ul.componentsListe {
  padding: 0;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto; }
  body form ul.componentsListe,
  body form ul.componentsListe ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
    clear: both;
    border: 0 solid #transparent; }
  body form ul.componentsListe ul {
    /*li>div {
					margin-left: 46px;
				}
				li li>div {
					margin-left: 92px;
					*
				}*/ }
    body form ul.componentsListe ul li li.Hover > div > div > .ActionOr.ShowOnHover {
      display: none; }
  body form ul.componentsListe li.groupe {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    clear: both;
    /*overflow: hidden;*/ }
    body form ul.componentsListe li.groupe li.groupe {
      margin-left: 46px; }
    body form ul.componentsListe li.groupe > div > div > .ShowOnHover {
      display: none; }
    body form ul.componentsListe li.groupe.Hover > div > div > .ShowOnHover {
      display: block; }
    body form ul.componentsListe li.groupe.OrImpossible.Hover > div .ActionOr.ShowOnHover,
    body form ul.componentsListe li.groupe.Hover > div.completed > div .ActionOr.ShowOnHover {
      display: none; }
    body form ul.componentsListe li.groupe .nice-select {
      background: transparent;
      border-color: transparent; }
      body form ul.componentsListe li.groupe .nice-select ul.list li {
        border-bottom: solid 1px #e8e8e8; }
        body form ul.componentsListe li.groupe .nice-select ul.list li img {
          height: 40px; }
          body form ul.componentsListe li.groupe .nice-select ul.list li img.highlited {
            display: none; }
        body form ul.componentsListe li.groupe .nice-select ul.list li.selected, body form ul.componentsListe li.groupe .nice-select ul.list li.focus, body form ul.componentsListe li.groupe .nice-select ul.list li:hover {
          background: #ff312e;
          color: #fff; }
          body form ul.componentsListe li.groupe .nice-select ul.list li.selected img, body form ul.componentsListe li.groupe .nice-select ul.list li.focus img, body form ul.componentsListe li.groupe .nice-select ul.list li:hover img {
            display: none; }
            body form ul.componentsListe li.groupe .nice-select ul.list li.selected img.highlited, body form ul.componentsListe li.groupe .nice-select ul.list li.focus img.highlited, body form ul.componentsListe li.groupe .nice-select ul.list li:hover img.highlited {
              display: inline; }
      body form ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) {
        color: #000; }
        body form ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) img {
          display: inline; }
          body form ul.componentsListe li.groupe .nice-select ul.list:hover .option:not(:hover) img.highlited {
            display: none; }
      body form ul.componentsListe li.groupe .nice-select .current img {
        height: 40px; }
        body form ul.componentsListe li.groupe .nice-select .current img.highlited {
          display: none; }
    body form ul.componentsListe li.groupe .nice-select.disabled {
      color: #888;
      border-color: transparent; }
    body form ul.componentsListe li.groupe.completed > div .Highlited {
      background: #ff312e;
      margin-right: 23px; }
      body form ul.componentsListe li.groupe.completed > div .Highlited .nice-select {
        background: transparent;
        border-color: transparent;
        color: #fff; }
        body form ul.componentsListe li.groupe.completed > div .Highlited .nice-select .current img {
          display: none; }
          body form ul.componentsListe li.groupe.completed > div .Highlited .nice-select .current img.highlited {
            display: inline; }
      body form ul.componentsListe li.groupe.completed > div .Highlited .nice-select.disabled {
        color: #fff;
        border-color: transparent; }
    body form ul.componentsListe li.groupe.completed > div .Highlited:after {
      content: '';
      width: 0;
      height: 0;
      line-height: 0;
      padding: 0;
      display: inline-block;
      float: right;
      margin-right: -15px;
      border-style: solid;
      border-width: 21px 0 21px 15px;
      border-color: transparent transparent transparent #ff312e; }
    body form ul.componentsListe li.groupe.completed > div .EndClassGroup .Highlited:before {
      content: '';
      width: 0;
      height: 0;
      line-height: 0;
      padding: 0;
      display: inline-block;
      float: left;
      border-style: solid;
      border-width: 21px 0 21px 15px;
      border-color: transparent transparent transparent #fff; }

body .easy-autocomplete input {
  height: 42px; }

body .easy-autocomplete .easy-autocomplete-container {
  z-index: 999; }
