body section {
  padding-top: 30px; }

body .CriteriaGroup {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  body .CriteriaGroup .GroupContenaire {
    min-width: 15%;
    background: #fff;
    Border-right: 1px solid #ddd;
    padding: 2px 5px; }
  body .CriteriaGroup .EndClassWidgetGroup {
    min-width: 35%;
    padding: 2px 15px; }
    body .CriteriaGroup .EndClassWidgetGroup .easy-autocomplete {
      width: 100% !important; }
    body .CriteriaGroup .EndClassWidgetGroup input {
      width: 100% !important;
      display: block; }
