.EndClassWidgetGroup {
    width: auto;
    padding: 0 15px 0 0;
    margin-left: -45px;
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .EndClassWidgetValuesWrapper {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        flex: 0 1 auto;
    }

    .EndClassWidgetExpandedWrapper {
        position: absolute;
        z-index: 100;
        top: 100%;
        left: -2px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 5px 15px 5px 0;
        box-shadow: 0px 2px 2px 0px #cfcfcf;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        .EndClassWidgetValue {
            display: flex !important;
            margin-bottom: 7px;
        }

        .popoverCloseBtn {
            position: absolute;
            top: 100%;
            right: 10px;
            cursor: pointer;
            z-index: 101;
            background: #fff;
            border-radius: 0 0 5px 5px;
            padding: 4px 8px;
          box-shadow: 0px 2px 3px 0px #cfcfcf;
            svg {
                width: 16px;
                height: 16px;
                display: block;
                .st0 {
                    stroke: var(--primary-color-important);
                }
            }
            &:hover svg .st0 {
                stroke: darkred;
            }
        }
    }

    span.unselect {
      top: -8px;
      position: absolute;
      right: 14px;
    }

    /* Unselect to graphique  */
	div.edit {
		/*position: absolute;*/
		display: block;
		position: absolute;
		top: -10px;
		right: 32px;
		width: 22px;
		height: 22px !important;
		padding: 0 0;
		text-align: center;
		cursor: pointer;
		color: var(--primary-color-important);
		line-height: 22px;
		font-size: 18px;
		box-sizing: border-box;
		border-radius: 11px;
		z-index: 2;
	}
}
