@use '../../mixins';
@use '../../base';

.ExpandWidgetValuesBtn {
    @include mixins.arrow-back-colors(var(--primary-color-medium), #fff);
    @include mixins.arrow-front-colors(var(--primary-color-medium), #fff);
    display: flex;
    cursor: pointer;
    height: 46px;
    margin-right: -13px;
    position: relative;
    padding: 0;
    
    p {
        line-height: 48px;
        height: 48px;
        background: var(--primary-color-medium);
        background-clip: padding-box;
        margin: 0 -4px 0 0;
        padding: 0 2px 0 2px;
        display: inline-flex;
        align-items: center;
        border: base.$center-arrow-bd-width solid #fff;
        border-left: 0;
        border-right: 0;
        
        span {
            color: var(--default-text-color);
            font-size: 14px;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}
