@use "../../../base";

.ObjectPropertyGroup {
    /*margin-right: -15px;*/
    padding-left: 10px;
    .nice-select{
        padding-left:1em;
    }
    .current {
        font-style: italic;
    }
    .currentWrapper span.current.temporary-label {
        line-height: base.$height-components-under - 6;
        font-size: 16px;
        height: 42px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        color: var(--default-text-color);
        background-color: #fff;
    }
}