.history-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f8f9fa;
    font-weight: bold;
    cursor: pointer;
  }

  tbody {
    tr:hover {
      background-color: #f1f1f1;
    }
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 60%;
    word-break: break-word;
    white-space: normal;
    max-width: 0;
    overflow-wrap: break-word;
    max-height: 150px;
    overflow-y: auto;
    display: block;
  }
}
