// Style global pour les modales utilisées à plusieurs endroits
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;

    .modal-buttons {
      button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
        transition: opacity 0.3s ease;

        &.confirm-yes {
          color: black;
        }

        &.confirm-no {
          background-color: #a71d2a;
          color: white;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
