// actions buttons
.actions-btn {
  button {
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;

    &.btn-orange {
      background: rgb(218, 141, 0);
      color: white;

      &:hover {
        background: rgb(255, 140, 0);
      }
    }

    &.btn-red,
    &.btn-green {
      background: #dddddd;
      color: black;

      &:hover {
        background: #666666;
        color: white;
      }
    }
  }

  // Pour cibler le bouton externe "#openDateFilter" tout en gardant la logique SCSS
  #openDateFilter {
    background: #dddddd;
    color: black;

    &:hover {
      background: #666666;
      color: white;
    }
  }
}
