@use '../base';
@use '../themes';
.link-where-bottom {
    .upper-vertical, .horizontal, .lower-vertical{
        height: 3px;
        position: absolute;
        background-color: themes.$custom-red;
        display: block;
        z-index: 0;
    }
    .horizontal{
        z-index: 1; // span or should be overlayd over .lower-vertical
        span {
            position: relative;
            top: -10px;
            left: -35px;
            background: #fff;
            border: 2px solid themes.$custom-red ;
            border-radius: 15px;
            height: 30px;
            line-height: 20px;
            padding: 2px 10px;
            width: fit-content;
        }
    }
    &.optionalEnabled{
        .upper-vertical, .horizontal, .lower-vertical{
            height: 3px;
            position: absolute;
            background: repeating-linear-gradient( 90deg, #fff, #fff 5px, themes.$custom-red 5px, themes.$custom-red 10px);
            display: block;
        }
        span{
            border: 2px dashed themes.$custom-red
        }
    }

    &.notExistsEnabled {
        .upper-vertical, .horizontal, .lower-vertical{
		    background: repeating-linear-gradient( 90deg, #fff, #fff 5px, #000 5px, #000 10px);
        }
		span {
			border: 3px dashed #000;
			border-radius: 15px;
		}
	}
}