@use '../base';
@use '../themes';
.link-and-bottom {
    position:absolute;
    background-color: themes.$custom-red;
    height: 3px;
    z-index: 0;
    span {
        transform: rotate(-90deg); //line will get transformed 90deg. transform the span back to horizontal
        display: block;
        background: #fff;
        position:relative;
        left: 50%;
        top:-12px;
        border: 2px solid themes.$custom-red ;
        border-radius: 15px;
        height: 30px;
        line-height: 20px;
        padding: 2px 10px;
        width: fit-content;
    }
    &.optionalEnabled{
        height: 3px;
        position: absolute;
        // rgba(255,255,255,0) is white transparent = completely transparent
        background: repeating-linear-gradient( 90deg, rgba(255,255,255,0), rgba(255,255,255,0) 8px, themes.$custom-red 8px, themes.$custom-red 16px);
        display: block;
        span{
            border: 2px dashed themes.$custom-red
        }
    }
    &.notExistsEnabled {
		// rgba(255,255,255,0) is white transparent = completely transparent
        background: repeating-linear-gradient( 90deg, rgba(255,255,255,0), rgba(255,255,255,0) 8px, #000 8px, #000 16px);
		span {
			border: 3px dashed #000;
			border-radius: 15px;
		}
	}
}