@use '../../themes';
.button-add {
    border: 3px solid themes.$primary-color-main;
    border-radius: 15px;
    background: #fff;
    padding: 0 10px;
    line-height: 25px;
    margin-left: 5px;
    &:hover {
        color: themes.$primary-color-main;
        cursor: pointer;
    }
}