.historySection {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.history-btn {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.history-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.container {
  position: relative;
  display: inline-block;
}

.history-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

// mise en page des elements de l'historique
.dt-layout-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
}

.dt-layout-cell.dt-layout-start .dt-search {
  flex: 1;
  text-align: left;
}

.dt-layout-cell {
  flex: 1;
  text-align: left;
}

.dt-layout-cell.dt-layout-middle {
  flex: 0 0 auto;
  margin: 0 auto;
  text-align: center;
}

.dt-layout-cell.dt-layout-end {
  flex: 0 0 auto;
  text-align: right;
}

//----------------------------------------------------

.history-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 0;
  border-top: 1px solid #ddd;
}

.history-actions button {
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.actions-btn button.btn-orange {
  background: rgb(218, 141, 0);
  color: white;
}

.actions-btn button.btn-orange:hover {
  background: rgb(255, 140, 0);
}

.actions-btn button.btn-red,
button.btn-green {
  background: #dddddd;
  color: black;
}

.actions-btn button.btn-red:hover,
button.btn-green:hover {
  background: #666666;
  color: white;
}

.history-actions button.btn-yellow {
  background: #ffcc00;
  color: black;
}

.history-actions button.btn-yellow:hover {
  background: #e6b800;
}

#closeHistory,
#resetHistory {
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

#resetHistory strong {
  transition: opacity 0.3s ease;
}

#resetHistory i {
  transition: transform 0.3s ease;
}

/* Hover effect */
#resetHistory:hover strong {
  opacity: 0;
}
/* Hover effect */
#resetHistory:hover strong {
  opacity: 0;
}

#resetHistory:hover i {
  transform: translateX(
    -45px
  ); /* Adjust as needed to center the icon visually */
}

/* Hover effect */
#closeHistory:hover strong {
  opacity: 0;
}

#closeHistory:hover i {
  transform: translateX(
    -19px
  ); /* Adjust as needed to center the icon visually */
}

#closeHistory {
  background-color: #b5b5b5;
}

#closeHistory:hover {
  background-color: #a71d2a;
}

#resetHistory {
  background-color: #b5b5b5;
}

#resetHistory:hover {
  background-color: rgb(218, 141, 0);
}

.history-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.history-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 1200px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

body.history-modal-open {
  overflow: hidden;
}

.history-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.history-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

th {
  cursor: pointer;
}

.history-table tbody tr:hover {
  background-color: #f1f1f1;
}

.history-table th:nth-child(3),
.history-table td:nth-child(3) {
  width: 60%;
  word-break: break-word;
  white-space: normal;
  max-width: 0;
  overflow-wrap: break-word;
  max-height: 150px;
  overflow-y: auto;
  display: block;
}

.history-total-results {
  font-size: 14px;
  color: #333;
}

.actions-btn button {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.favorite-query {
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  background: none;
  border: none;
}

.favorite-query i {
  color: #b5b5b5;
  transition: color 0.3s ease;
}

.favorite-query:hover i {
  color: #ffcc00;
  transform: scale(1.2);
}

.favorite-query.active i {
  color: #ffcc00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

#confirmYes {
  color: black;
}

#confirmNo {
  background-color: #a71d2a;
  color: white;
}

#confirmYes:hover,
#confirmNo:hover {
  opacity: 0.8;
}

.dt-paging {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px; /* Petit espace entre les éléments */
}

.dt-paging a,
.dt-paging button {
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 14px; /* Agrandit les éléments */
  text-align: center;
  text-decoration: none;
  font-size: 14px; /* Agrandit la taille du texte */
  border-radius: 0; /* Pas de bordure arrondie par défaut */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  //shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}

/* Ajouter un border-radius uniquement aux premiers et derniers éléments */
.dt-paging a:first-child,
.dt-paging button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dt-paging a:last-child,
.dt-paging button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dt-paging a:hover,
.dt-paging button:hover {
  background-color: #ddd;
  color: rgb(218, 141, 0);
}

.dt-paging .current {
  background-color: rgb(218, 141, 0);
  color: white;
  cursor: default;
  border-color: rgb(218, 141, 0);
}

.dt-paging .disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

/* Ajouter un espace gris entre les éléments */
.dt-paging a + a,
.dt-paging button + button {
  margin-left: -1px; /* Ajuste pour que les bords se touchent */
  position: relative;
}

.dt-paging a + a::before,
.dt-paging button + button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px; /* Largeur de l'espace gris */
  height: 100%;
  background-color: #ddd; /* Couleur grise */
  z-index: -1; /* Assure que l'espace est derrière les éléments */
}

.query-summary {
  max-height: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  white-space: normal;
  position: relative;
  padding-right: 5px;
}

.query-summary.has-scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
  //transition: opacity 0.1s ease-out;
  opacity: 1;
}

.query-summary.scrolled::after {
  opacity: 0;
}

.dt-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.dt-scroll-sizing {
  height: 0 !important;
  overflow: hidden !important;
}

.dataTables_scrollHeadInner table thead {
  visibility: hidden;
}

.dt-search {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre les éléments */
}

.dt-input {
  padding: 4px 6px;
  font-size: 14px;
  color: #333;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 16px; /* Agrandit la taille du texte */
}

.dt-input:focus {
  border-color: rgb(218, 141, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  outline: none;
}

.dt-input::placeholder {
  color: #999;
}

#queryHistoryTable thead {
  display: none;
}

.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2b2b2b;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  z-index: 9999;
  display: none;
}

.toast-icon {
  margin-right: 8px;
}

.dt-layout-cell.dt-layout-start {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dt-length {
  order: 0;
}

.date-filter-container {
  order: 1;
}

#openDateFilter {
  background-color: #b5b5b5;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 8px 14px;
  transition: all 0.3s ease;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
input[type="date"] {
  background-color: #da8d00;
  font-family: "Roboto Mono", monospace;
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
