$component-width: 1200px;
$component-max-width: 90%;
$height-components: 54px;
$height-components-under: 48px;
$height-components-hover: 35px;
$margin-component: 30px;
$margin-component-onEdit: 80px;
$margin-children-li: 75px;
$center-arrow-bd-width : 3px;
$margin-left-reset: 20px;