@use './base';
// Importing all the components
@use './components/all-components-sparnatural-form.scss';
// we are importing one default theme,
// so that all the variables have a default value.
// they can be overriden by importing another theme CSS in the HTML page
@import "themes/sparnatural-theme-grass.css";

sparnatural-form {
    display: block;
    padding: 20px;
    background-color: #f0f8f8;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* Display container for selected values */
.value-display-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
  
/* Each selected value container */
.selected-value-container {
display: flex;
align-items: center;
padding: 5px 10px;
background-color: #e0f7fa;
border: 1px solid #4db6ac;
border-radius: 5px;
font-size: 13px;
margin-bottom: 5px;
}

/* Align selected values horizontally with wrapping */
.selected-value-container {
flex-direction: row;
border: 1px solid #ccc;
padding: 5px;
display: inline-block;
margin-right: 10px;
margin-bottom: 10px;
}

/* Styling the selected value label */
.selected-value-label {
margin-right: 10px;
font-weight: normal;
color: #00796b;
}

/* Container for the search button to control its position */
.button-container {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}

.hr {
color: inherit;
border: 0;
border-top-width: 0px;
border-top-style: none;
border-top-color: currentcolor;
border-top: 1px solid;
opacity: 0.25;
}

#submit {
display: flex;
justify-content: flex-end;
gap: 10px;
}

#submit button {
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

#submit button[id="Search"] {
background-color: #a5d6a7;
color: #000;
}

#submit button[id="Search"]:hover {
background-color: #81c784;
color: #fff;
}

#submit button[id="Reset"] {
background-color: #973d46a2;
color: #000;
}

#submit button[id="Reset"]:hover {
background-color: #973d46;
color: #fff;
}

.option-container {
display: flex;
flex-wrap: wrap;
gap: 15px;
margin-bottom: 10px;
}

.any-value-container,
.not-exist-container {
display: flex;
flex-wrap: wrap;
gap: px;
}
  