@import "nice-select.css";
@import "~easy-autocomplete/dist/easy-autocomplete.css";
@import "~@chenfengyuan/datepicker/dist/datepicker.min.css";

@import "themes.scss";




$component-width: 1200px;
$component-max-width: 90%;
$height-components: 54px;
$height-components-under: 48px;
$height-components-hover: 35px;
$margin-component: 30px;
$margin-component-onEdit: 80px;
$margin-children-li: 75px;
$center-arrow-bd-width : 3px;
$margin-left-reset: 20px;




@mixin triangle-before() {
	padding-left: 20px;
	&:before {
		content: '';
		width: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		display: inline-block;float:left;
		border-style: solid;
		border-width: 21px 0 21px 15px;
		border-color: transparent transparent transparent transparent;
		margin-left: -20px;
	}
	& {
		position: relative;
		padding-left: 18px;
	}
	&>.triangle-b,
	&>.triangle-h {
		position: absolute;
		left: 3px;
		background: transparent;
	}
	&>.triangle-h {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 21px 0;
		border-color: transparent $custom-red transparent transparent;
		top: 0
	}
	&>.triangle-b {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 21px 15px;
		border-color: transparent transparent $custom-red transparent;
		bottom: 0;
	}
	
}
@mixin triangle-after() {
	padding-right: 0;
	&:after {
		content: '';
		width: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		display: inline-block;float: right;margin-right: 0;
		border-style: solid;
		border-width: 21px 0 21px 15px;
		border-color: transparent transparent transparent $custom-red;
	}
	
}
@mixin arrow-block($color) {
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		border-top: 21px solid transparent;
		border-left: 15px solid white;
		border-bottom: 21px solid transparent;
		/*margin: -10px 0px 0 0px; */
	}
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		right:-15px;
		border-top: 21px solid transparent;
		border-left: 15px solid $color;
		border-bottom: 21px solid transparent;
		/*border-color: transparent transparent transparent $custom-green-light;
		margin: -10px 90px 0 10px; */
	  z-index: 1;
	}
}

@mixin arrow-back-colors($bgColor, $borderColor) {
	.componentBackArrow svg {
		height: 48px;
		path {
			fill: $bgColor;
			stroke: $borderColor;
		}
	}
}
@mixin arrow-front-colors($bgColor, $borderColor) {
	.componentFrontArrow svg {
		height: 48px;
		path {
			fill: $bgColor;
			stroke: $borderColor;
		}
		rect {
			fill:transparent;
		}
	}
}

/*New component Arrow */
.CriteriaGroup {
	.componentBackArrow svg {
		height: 48px;
		path {
			fill:transparent;
			stroke:transparent;
			stroke-width: 2.5px;
		}
	}
	.componentFrontArrow svg{
		height: 48px;
		path {
			fill:transparent;
			stroke: $custom-silver-light;
			stroke-width: 3px;
		}
		rect {
			fill:#fff;
		}
	}

	/*Arrow on options */
	.OptionsGroup {
		.EditComponents {
			display: none;
			@include arrow-back-colors($custom-silver-light, #fff);
			position: relative;
			&.Enabled {
				display: flex;
				@include arrow-back-colors($custom-green, #fff);
				/*@include arrow-front-colors($custom-green, #fff);*/
				.componentBackArrow {
					svg path {
						filter:url(#filter19278);
					}
				}
			}
			&.Disabled {
				display: flex;
				@include arrow-back-colors($custom-silver, #fff);
				/*@include arrow-front-colors($custom-silver, #fff);*/
			}
			&.NoOptionEnabled {
				display: none!important;
				@include arrow-back-colors($custom-silver-light, #fff);
			}
			.componentBackArrow {
				width: 41px;
				height: 48px;
				position: relative;
				svg {
					position: absolute;
					z-index: 1;
					left: -5px;
				}
			}
		}
		.OptionTypeId {
			label {
				@include arrow-back-colors($custom-green-light, #fff);
				@include arrow-front-colors($custom-green-light, #fff);
				span {
					background: $custom-green-light;
					border-top: 3px solid #fff;
					border-bottom: 3px solid #fff;
				}
				&:hover,
				&.Enabled {
					@include arrow-back-colors($custom-green-bold, #fff);
					@include arrow-front-colors($custom-green-bold, #fff);
					span {
						background: $custom-green-bold;
					}
				}
			}
		}
	}
}

	/*Completed criteria*/
.componentsListe li>.CriteriaGroup.OptionMenuShowed {
	&>.StartClassGroup .componentFrontArrow {
		display: none;
	}

}
.componentsListe li.completed>.CriteriaGroup.OptionMenuShowed {
	&>.StartClassGroup .Highlited .componentFrontArrow {
		display: block;
	}

}
.componentsListe li.completed>.CriteriaGroup {
	&>.StartClassGroup>.Highlited {
		@include arrow-front-colors($custom-red, #fff);
	}
	&>.StartClassGroup.VariableSelected>.Highlited {
		@include arrow-front-colors($custom-red, $custom-green-bold);
	}

	
	&>.ObjectPropertyGroup>.ObjectPropertyTypeId {
		@include arrow-back-colors(transparent, #fff);
		.componentFrontArrow {
			display: none;
		}
		@include arrow-front-colors(transparent, #fff);
	}
	&>.EndClassGroup>.Highlited {
		@include arrow-back-colors($custom-red, #fff);
		@include arrow-front-colors($custom-red, #fff);
	}
	&>.EndClassGroup.VariableSelected>.Highlited {
		@include arrow-back-colors($custom-red, $custom-green-bold);
		@include arrow-front-colors($custom-red, $custom-green-bold);
		.componentBackArrow svg {
			path {
				stroke-width: 3px;
			}
		}
	}

	&>.EndClassWidgetGroup {
		.EndClassWidgetAddOrValue,
		.EndClassWidgetValue {
			@include arrow-back-colors($custom-red-medium, #fff);
			@include arrow-front-colors($custom-red-medium, #fff);
		}
	}
}

/* Structure flex */
.CriteriaGroup,
.variablesSelection {
	.flexWrap {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

body {
	section {
		padding-top: 30px;
	}
	.reset-wrapper {
		position: relative;
		height: 0;
		width: $component-width;
		max-width: $component-max-width;
		margin: 0 auto;
		&>.reset-form {
			position: absolute;
			right: 0;
			top: 0;
			width: 54px;
			height: 54px;
			margin-top: 31px;
			margin-bottom: 80px;
			border: 1px solid #ddd;
			border-radius: 5px;
			background: #fff;
			box-shadow: 0px 2px 3px 0px #cfcfcf;
			a {
				display: block;
				margin: 5px;
				cursor: pointer;
			}
		}
	}
	li.completed {
		&>.CriteriaGroup {
			margin-bottom: $margin-component;
			&.onAddOrValue {
				margin-bottom: $margin-component-onEdit/2 + 10;
			}
		}
	}
	.CriteriaGroup {
		border: 1px solid #ddd;
		display: flex;
		position: relative;
		border-radius: 5px;
		background: #fff;
		margin-top: $margin-component;
		margin-bottom: $margin-component-onEdit;
		clear: both;
		
		-moz-box-shadow: 0px 2px 3px 0px #cfcfcf;
		-webkit-box-shadow: 0px 2px 3px 0px #cfcfcf;
		-o-box-shadow: 0px 2px 3px 0px #cfcfcf;
		box-shadow: 0px 2px 3px 0px #cfcfcf;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=3);

		&.onAddOrValue {
			margin-bottom: $margin-component-onEdit/2;
		}
		
		&>div {
			
			min-width: 80px;
			/*background: #fff;*/
			padding: 2px 5px;
		}
		.OptionsGroup {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			min-width: auto;
			/*padding-right: 15px;*/
			margin-left: -22px;

			.EditComponents {
				position: relative;
				width: 20px;
				/*@include arrow-block($custom-silver-light);*/
				/*display: flex!important;*/
				/*background: $custom-silver-light;
				@include arrow-block($custom-silver-light);*/

				&.Enabled {
					display: inline-block;
					/*background: $custom-green;*/
					cursor: pointer;
					/*@include arrow-block($custom-green);*/
				}
				&.Disabled {
					/*display: inline-block;*/
					/*background: $custom-silver;*/
					/*@include arrow-block($custom-silver);*/
				}
				&.Unavailable {
					display: inline-block;
					background: $custom-silver-light;
					@include arrow-block($custom-silver-light);
				}
			}
			.OptionTypeId {
				display: none ;
				position: relative;
				padding-right: 13px;
				margin-left: -7px;
				
				label {
					position: relative;
					/*display: inline-block;*/
					zoom: 1;
					/*background: $custom-green-light;*/
					margin-bottom: 0;
					line-height: 42px;
					color: #fff;
					margin-left: 3px;
					padding-right: 0;
					font-size: 14px;
					margin-right: -20px;
					cursor: pointer;
					span {
						text-indent: 13px;
					}

					input {
						display: none;
					}

					/*@include arrow-block($custom-green-light);*/

					&:hover,
					&.Enabled {
						/*background: $custom-green-bold;*/

						&:after {
							/*border-left: 15px solid $custom-green-bold;*/
						}
					}
/**
					&:before {
						border-color: transparent transparent transparent #fff;
					}

					&:after {
						border-color: #fff #fff #fff $custom-green;
					}*/
				}
			}
			&.Opended .OptionTypeId {
				display:flex ;
			}
		}
		.ObjectPropertyGroup {
			margin-right: -15px;
			padding-left: 10px;
			.current {
				font-style: italic;
			}
			&.Invisible .ObjectPropertyTypeId {
				display: none;
			}
			.temporary-label {
				line-height: $height-components-under - 2;
				font-size: 14px;
				font-weight: normal;
				height: 42px;
				outline: none;
				padding-left: 10px;
				padding-right: 30px;
				position: relative;
				text-align: left !important;
				display: inline-block;
				border-top: 1px solid transparent;
				color: $default-text-color;
			}
		}

		span.unselect {
			display: block;
			position: absolute;
			top: -9px;
			right: 10px;
			width: 22px;
			height: 22px!important;
			padding: 0 0;
			text-align: center;
			cursor: pointer;
			color: $custom-red-bold;
			background: #fff!important;
			line-height: 22px;
			font-size: 18px;
			box-sizing:border-box;
			border-radius: 11px;
			z-index: 2;
			/*border: 2px solid #333;
			
			line-height: 13px;
			font-size: 10px;
			
			font-weight: 700;*/
		}
		.EndClassGroup.IsOnEdit>span.unselect {
			display: none;
		}
		/*Hide select widget list arrow*/
		.nice-select.disabled:after {
			display: none;
		}
		.nice-select {
			border: $center-arrow-bd-width solid #fff;
			border-left: 0;
			border-right: 0;
		}
		.nice-select .current {
			display: inline-block;
			height: $height-components-under - ($center-arrow-bd-width*2);
			line-height: $height-components-under - ($center-arrow-bd-width*2);
			vertical-align: bottom;
			span  {
				display: inline-block;
				vertical-align: bottom;
			}
			.selectIcon {
				float: left;
				width: 26px;
				text-align: center;
				margin-left: 5px;

			}
			.variableName {
				display: none;
			}
		}
		


		.StartClassGroup,
		.EndClassGroup {
			position: relative;
			margin-right: 0px;
			.selectViewVariable {
				display: none;
				position: absolute;
				top: 50%;
				right: 18px; //+9 pour retrait dans fleche
				margin-top: -8px;
				width: 16px;
				height: 16px;
				line-height: 16px;
				z-index: 2;
				cursor: pointer;
				svg{
					width: 100%;
					height: 100%;
					vertical-align: top;
				}
			}
		}
		
		.EndClassGroup {
			position: relative;
			min-width: auto;
			margin-left: -15px;
			.EditComponents {
				position: absolute;
				left: 36px;
				top: $height-components ;
				line-height: $height-components-hover;
				z-index: 101;
				height: $height-components;
				padding: 0 0;
				width: auto;
				
				.ActionWhere,
				.ObjectPropertyTypeWidget {
					position: relative;
					border-left: 3px solid $custom-red;
					height: 48px;
					padding-left: 25px;
					padding-right: 5px;
					line-height: 48px;
					/*overflow: hidden;*/
					text-overflow: ellipsis;
					white-space: nowrap;
					display:block;
					width:100%;
					min-width:1px;
					font-size: 14px;
					/*text-decoration: underline;*/
					/*&.DatesWidget {
						border-left-color: transparent;
						
						.edit-trait-top {
							display: block;
						}
					}*/
					.underline {
						text-decoration: underline;
					}
					.boolean-value {
						text-decoration: underline;
						cursor: pointer;
					}
					.or {
						color: $custom-red;
						font-weight: 600;
					}
					.selectAll .underline {
						cursor: pointer;
					}
					&>a,
					&>div {
						position: absolute;
						left: 100%;
						top: 0;
						
						
					}
					&>a  {
						top: 50%;
						transform:translate(0,-50%);
					}
					&>.listwidget,
					&>.search-widget,
					
					&>.date-widget {
						&>div,
						&>input {
							display: inline-block;
						}
						&>input {
							height: 35px;
							width: 60px;
						}
						&>button {
							height: 35px;
							line-height: 20px;
							margin-left: 5px;
						}
					}
					&>.date-widget {
						&>.easy-autocomplete {
							width: 176px!important;
							
							.easy-autocomplete-container {
								
								ul {
									
									li {
										position: relative;
										width: 296px;
										padding-right: 120px;
										
										span {
											display: block;
											position: absolute;
											top: 0;
											right: 0;
											height: 30px;
											width: 60px;
											line-height: 20px;
											text-align: left;
											padding: 5px 12px;
											font-size: 14px;
											
											&.start {
												right: 60px;
											}
										}
									}
								}
							}
						}
						input {
							border-color: #ccc;
							border-radius: 4px;
							border-style: solid;
							border-width: 1px;
							box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
							color: #555;
							float: none;
							padding: 6px 10px;
						}
					}
					&>.search-widget {
						
						&>input {
							width: 150px;
							border-color: #ccc;
							border-radius: 4px;
							border-style: solid;
							border-width: 1px;
							box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
							color: #555;
							float: none;
							padding: 6px 12px;
						}
						
					}
					.easy-autocomplete-container>ul>li {
						
						white-space: normal;
					}
				}
				.TimeDatePickerWidget {
					&>.date-widget {
						&>div,
						&>input {
							display: inline-block;
						}
						&>input {
							height: 35px;
							width: 105px;
						}
						&>button {
							height: 35px;
							line-height: 20px;
							margin-left: 5px;
						}
					}
				}
				.ActionWhere {
					height: 20px;
					line-height: 20px;
					position: absolute;
					top: 48px;
					width: auto;
					
					.edit-trait {
						top: 9px;
					}
					.edit-num {
						
					}
				}
				.edit-trait {
					position: absolute;
					top: 50%;
					left: 0;
					width: 20px;
					border-top: 3px solid $custom-red;
					display: inline-block;
					
					.edit-trait-top {
						position: absolute;
						bottom: 3px;
						left: -2px;
						display: none;
						border-left: 3px solid $custom-red;
						height: 24px;
					}
				}
				.edit-num {
					position: absolute;
					top: -2px;
					left:-1px;
					transform:translate(-50%,-50%);
					border: 3px solid $custom-red;
					border-radius: 10px;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 14px;
					font-size: 10px;
					background: #fff;
					font-style: italic;
				}
				
				.SearchWidget,
				.DatesWidget {
					max-width: 600px;
					white-space: nowrap;
					&>div,
					&>input {
						display: inline-block;
						
					}
					&>input {
						width: 70px;
						height: $height-components-under;
						border-color: #ccc;
						border-radius: 4px;
						border-style: solid;
						border-width: 1px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
						color: #555;
						float: none;
						padding: 6px 12px;
					}
					.easy-autocomplete>input {
						width: 100%;
					}
				}
				
				.SearchWidget {
					&>input {
						width: 200px;
					}
				}
				.ListeWidget {
					.nice-select{
						background: #fff;
						height: $height-components-hover;
						line-height: $height-components-hover - 6;
						padding-right: 26px;
						.current {
							display: inline-block;
							height: $height-components-hover - 6;
							line-height: $height-components-hover - 6;
							vertical-align: bottom;
							&>span {
								vertical-align: bottom;
							}
						}
						.list {
							li.option {
								min-height: $height-components-hover;
								line-height: $height-components-hover;
							}
						}
						&:after {
							margin-top: -2px;
						}
					}
				}
				.TreeWidget {
					.treeBtnDisplay {
						border: 1px solid #ddd;
						border-radius: 5px;
						background: #fff;
						box-shadow: 0px 2px 3px 0px #cfcfcf;
						padding: 5px;
						line-height: 1;
						z-index: 2;
						cursor: pointer;
						img {
							height: 26px;
						}
					}
					.treeLayer {
						position: absolute;
						top: 50%;
						margin-top: -19px;
						left: calc(100% + 48px);
						border: 1px solid #ddd;
						border-radius: 5px;
						background: #fff;
						box-shadow: 0px 2px 3px 0px #cfcfcf;
						z-index: 1;

						.treeNotice {
							padding: 5px;
							display: none;
							line-height: 20px;
						}
						.treeDisplay {
							overflow: auto;
							max-height: 500px;
							min-width: 275px;
							padding: 10px 10px 5px;
							
							&.jstree-default .jstree-disabled {
								opacity: 0.5;
							}
							&.jstree-default .jstree-checkbox-disabled {
								opacity: 0.5;
							}
						}
						.treeActions {
							border-top: 2px solid #ddd;
							padding: 5px 10px;
							text-align: right;
							a {
								border-radius: 5px;
								color: #fff;
								display: inline-block;
								margin-left: 10px;
								padding: 15px 5px;
								line-height: 1;
								cursor: pointer;
							}
							a.treeCancel {
								background: #EE8D67;
							}
							a.treeSubmit {
								background: #84C99E;
							}
						}
					}
				}
				.button-add {
					border: 3px solid $custom-red;
					border-radius: 15px;
					background: #fff;
					/*color: #212529;*/
					box-sizing: border-box;
					padding: 0 10px;
					&:hover {
						color: $custom-red;
						cursor: pointer;
					}
				}
			}
			&.noPropertyWidget {
				.EditComponents {
					.ActionWhere {
						top: 16px;
						.trait-top {
							position: absolute;
							top: -16px;
							left: -1px;
							border-left: 3px solid $custom-red ;
							margin-left: -1px;
							height: 16px;
						}
					}
				}
			}
			.ActionWhere {
				/*top: $height-components*2;*/
			}
			
		}
		.EndClassWidgetGroup {
			width: auto;
			padding: 1px 15px 1px 0;
			margin-left: -17px;
			display: flex;
			
			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;
			align-items: center;
	
			.easy-autocomplete {
				width: 100%!important;
			}
			input {
				width: 100%!important;
				display: block;
			}
			.EndClassWidgetAddOrValue,
			.EndClassWidgetValue {
				position: relative;
				/*line-height: 0;*/
				color: #fff;
				font-size: 14px;
				/*display: inline-block;*/
				padding: 0;
				span {
					/*line-height: $height-components-under;*/
					display: inline-block;
					vertical-align: middle;
					margin: 0;
				}
				span.label-two-line {
					line-height: $height-components-under / 2;
					line-height: 21px;
				}
				
			}
			.EndClassWidgetAddOrValue {
				color: #fff;
				/*margin-left: 15px;*/
				/*line-height: 48px;
				height: 48px;*/
				font-size: 20px;
				cursor: pointer;
				vertical-align: middle;
				p {
					width: 0;
					padding: 0;
					position: relative;
					height: 42px;
					line-height: 42px;
					overflow: visible;
					span {
						line-height: 32px;
						width: auto;
						/*vertical-align: baseline;
						display: inline-block;
						height: 48px;*/
					}
				}
			}
			span.unselect {
				top: -11px;
			}
			
		}
		
		.ActionsGroup {
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			width: 100%;
			height: 46px;
			padding: 0;
			background: transparent;
			z-index: 100;
			
			&>div {
				position: absolute;
			}
			.ActionRemove {
				right: 0;
				top: -46px;
				line-height: 46px;
				a {
					cursor: pointer;
					display: inline-block;line-height: 46px;
					vertical-align: top;
					padding: 0 15px;
					height: 46px;

					.unselect {
						position: relative;
						top: 0;
						line-height: 46px;
					}
				}
			}
			.ActionAnd {
				left: ($margin-children-li - 45) /2;
				top: $margin-component / 2;
				line-height: 46px;
				/*width: 46px;*/
				text-align: center;
			}
			
		}
		&.completed {
			
			
		}
		
	}

	.componentsListe.displayVarName .CriteriaGroup {
		&>.StartClassGroup>.ClassTypeId,
		&>.EndClassGroup>.ClassTypeId {
			.nice-select .current {
				.label {
					display: none;
				}
				.variableName {
					display: inline;
				}
			}
		}
	}
	// N'est plus à cacher, lutilisateur peut choisi d'afficher les valeurs
	/*li.hideEndClassProperty {
		&>div>.EndClassGroup {
			&>.unselect,
			&>.ClassTypeId {
				display: none;
			}
		}
	}*/
	
	.haveWhereChild {
		position: relative;
		&>.link-where-bottom {
			position: absolute;
			left: 200px;
			top: $height-components + $margin-component ;
			height: $margin-component + 1;
			border-left: 3px solid $custom-red;
			display: block;
		}
		&.optional-enabled.completed ul.childsList>li.haveWhereChild>.link-where-bottom,
		&.optional-enabled.completed>.link-where-bottom {
			border-left: 3px dashed $custom-red;
		}
		&.notExists-enabled.completed ul.childsList>li.haveWhereChild>.link-where-bottom,
		&.notExists-enabled.completed>.link-where-bottom {
			border-left: 3px dotted #000;
		}
		
		&>.CriteriaGroup {
			
			.EndClassGroup .ObjectPropertyTypeWidget {
				display: none;
			}
			
			&>div.EndClassGroup span.unselect {
				right: 13px;
			}
		}
		&>ul {
			position: relative;
			&>.lien-top {
				position: absolute;
				top: -2px;
				left: 111px;
				border-left: 3px solid $custom-red;
				border-top: 3px solid $custom-red;
				width: attr(data-before-width)px ;
				height: 36px;
				display: block;
				&>span {
					position: absolute;
					top: -17px;
					left: -2px;;
					display: block;
					background: #fff;
					border: 2px solid $custom-red ;
					border-radius: 15px;
					height: 30px;
					line-height: 20px;
					padding: 2px 10px;
					width: auto;
					transform: translateX(-50%);
				}
			}
		}
		&.optional-enabled {
			ul.childsList {
				&>.lien-top {
					border-left: 3px dashed $custom-red;
					border-top: 3px dashed $custom-red;
					&>span {
						border: 2px dashed $custom-red ;
						border-radius: 15px;
					}
				}
			}
		}
		&.notExists-enabled {
			ul.childsList {
				&>.lien-top {
					border-left: 3px dotted #000;
					border-top: 3px dotted #000;
					&>span {
						border: 2px dotted #000;
						border-radius: 15px;
					}
				}
			}
		}
	}
	.Sparnatural {
		.bg-wrapper {
			
		}
		.submitSectionWrapper {
			height: 41px;
			background: $custom-green ;
			.submitSection {
				position: relative;
				
				width: 1200px;
				max-width: 90%;
				margin: 0 auto;
				a {
					position: absolute;
					top: 14px;
					right: 0;
					width: 54px;
					height: 54px;
					padding: 10px;
					padding-left: 12px;
					border-radius: 5px;
					background: $custom-green-bold;
					box-shadow: 0px 2px 3px 0px #cfcfcf;
					cursor: pointer;
					z-index: 2;
					svg {
						display: block;
						max-width:  34px;
						height: 34px;
						path {
							fill:#FFFFFF;
							width: auto;
							height: auto;
						}
					}
					svg.playLoader {
						display: none;
						max-width:  44px;
						height: 44px;
					}

					&.submitDisable {
						background: $custom-silver-light;
						cursor: default;
						svg {
							path {
								fill:$custom-silver;
							}
						}
						&.loadingEnabled {
							padding: 4px;
							svg.playIcon {
								display: none;
							}
							svg.playLoader {
								display: block;
								path {
									fill:$custom-green-bold;
								}
								
							}
						}
					}
				}
			}
		}
		.variablesSelection {
			background: $custom-red-light;
			margin-bottom: 22px;
			border-top: 2px solid $custom-silver-line;
			.linesWrapper {
				/*display: none;*/
				
				height: 0;
				overflow: hidden;
			}
			&.displayed {
				.linesWrapper {
					height: auto;
				}
				.VariableSelectorDisplay {
					a {
						margin-top: -22px;
						transition: margin-top 0.700s ease;
					}
				}
			}
			.VariableSelectorDisplay {
				background: $custom-red-medium;
				height: 41px;
				position: relative;
				
					a  {
						position: absolute;
						left: 50%;
						display: block;
						height: 44px;
						width: 44px;
						margin: 0 auto;
						margin-top: 18px;
						margin-left: -22px;
						border-radius: 22px;
						background: $custom-red-medium;
						line-height: 1;
						padding: 10px;
						transition: margin-top 0.700s ease;
						cursor: pointer;

					.icon-arrow-top {
						display: none;
					}
					.icon-arrow-bottom {
						margin-top: 4px;
						display: inline;
					}
				}
			}

			&.displayed .VariableSelectorDisplay a  {
				.icon-arrow-top {
					display: inline;
				}
				.icon-arrow-bottom {
					display: none;
				}
			}
			.line1, .line2 {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: $component-width;
				max-width: $component-max-width;
				margin: 0 auto;

				border: 1px solid #ddd;
				background: #fff;
				

				&>div.variablesOtherSelect {
					display: block;
				}
			}
			.line1 {
				border-radius: 5px 5px 0 0 ;
				border-bottom: 0px solid transparent;
				min-height: 61px;
				margin-top: 41px;
				.sortableItem {
					padding: 10px;
					display: inline-block;
					&:first-child {
						min-width: 140px;
					}
				}
				.variablesOtherSelect>div:first-child {
					background: lightgray;
					height: 100%;
					display: block;
					float: left;
				}
				.variableSelected {
					padding: 3px 7px 3px 2px;
					border: 1px solid gray ;
					font-size: 12px;
					color: $default-text-color;
					border-radius: 5px;
					background: #fff;
					align-items: center;
					width: fit-content;
					min-width: 110px;

					.variable-handle {
						display: inline-block;
						padding: 0 3px;
						height: 24px;
						color: transparent;
						/*border-left: 2px dashed lightgray;
						border-right: 2px dashed lightgray;*/
						cursor: grab;

						svg {
							width: 15px;
    						height: 24px;

							path {
								stroke: $custom-silver;
								stroke-width: 0.264583;
							}
						}
					}
					div {
						line-height: 30px;
					}

					[contenteditable="true"]:active,
					[contenteditable="true"]:focus{
						border-color: #ccc;
						border-radius: 4px;
						border-style: solid;
						border-width: 1px;
						padding: 0 5px;
						outline:none;
					}
				}
			}
			.line2 {
				margin-bottom: 41px;
				border-radius: 0 0 5px 5px;
				justify-content: space-between;
				border-top: 1px solid darkgray;
				line-height: 20px;
				-moz-box-shadow: 0px 2px 3px 0px #cfcfcf;
				-webkit-box-shadow: 0px 2px 3px 0px #cfcfcf;
				-o-box-shadow: 0px 2px 3px 0px #cfcfcf;
				box-shadow: 0px 2px 3px 0px #cfcfcf;

				.variablesOrdersSelect {
					background: lightgray;
					padding: 0 10px;
					min-width: 140px;
					strong {
						font-size: 12px;
					}
					a {
						cursor: pointer;
						svg {
							width: 20px;
							height: 20px;
						}
					}
					a.selected {
						cursor: default;
						svg {
							path {
								fill: $custom-red;
							}
						}
					}
				}
				

				.variablesOptionsSelect {
					text-align: right;
					padding: 5px 5px 5px 5px;
					font-size: 14px;
					font-weight: bolder;
				}
				color: $default-text-color;

				a {
					display: inline-block;
					padding: 5px;
					color: $default-text-color;
				}
			}
			.switch {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 26px;
				margin-bottom: 0;
			  }
			  
			  .switch input { 
				opacity: 0;
				width: 0;
				height: 0;
			  }
			  
			  .slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			  }
			  
			  .slider:before {
				position: absolute;
				content: "";
				height: 20px;
				width: 20px;
				left: 3px;
				bottom: 2px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			  }
			  
			  input:checked + .slider {
				background-color: $custom-red-medium;
			  }
			  
			  input:focus + .slider {
				box-shadow: 0 0 1px #ccc;
			  }
			  
			  input:checked + .slider:before {
				-webkit-transform: translateX(22px);
				-ms-transform: translateX(22px);
				transform: translateX(22px);
				background-color: $custom-red;
			  }
			  
			  /* Rounded sliders */
			  .slider.round {
				border-radius: 26px;
				border: 1px solid #555;
			  }
			  
			  .slider.round:before {
				border-radius: 50%;
				border: 1px solid #555;
			  }
		}
		ul.componentsListe {
			padding: 0;
			width: $component-width;
			max-width: $component-max-width;
			margin: 0 auto;
			&,
			ul {
				list-style-type: none;
				padding: 0;
				background: transparent;
				clear: both;
				border: 0 solid transparent;
			}
			
			ul {
				
				/*li>div {
					margin-left: 46px;
				}
				li li>div {
					margin-left: 92px;
					*
				}*/
				li li.OnEdit>div>div> .ActionWhere.ShowOnEdit {
					display: none;
				}
			}
			li.groupe.optional-enabled {
				.CriteriaGroup {
					border: 3px dashed $custom-red ;
				}
				ul.childsList {
					.ActionAnd {
						&>.trait-and-bottom {
							border-left: 3px dashed $custom-red ;
						}
						&>a {
							border: 2px dashed $custom-red ;
						}
					}
					&>li.hasAnd {
						&>span {
							border-left: 3px dashed $custom-red ;
						}
						&>span>span  {
							border: 2px dashed $custom-red ;
						}
					}
				} 
			}
			li.groupe.notExists-enabled {
				.CriteriaGroup {
					border: 3px dotted #000 ;
				}
				ul.childsList {
					.ActionAnd {
						&>.trait-and-bottom {
							border-left: 3px dotted #000 ;
						}
						&>a {
							border: 2px dotted #000 ;
						}
					}
					&>li.hasAnd {
						&>span {
							border-left: 3px dotted #000 ;
						}
						&>span>span  {
							border: 2px dotted #000 ;
						}
					}
				} 
			}

			li.groupe {
				margin: 0;
				padding-top: 1px;
				padding-bottom: 1px;
				display: block;
				clear: both;
				/*overflow: hidden;*/

				/*first line*/
				&[data-index="0"] {
					width: calc(100% - #{$height-components} - #{$margin-left-reset});
					&>ul {
						width: calc(100% + #{$height-components} + #{$margin-left-reset});
					}
				}
				
				& li.groupe {
					margin-left: $margin-children-li;
				}
				&>div {
					
				}
				.ActionAnd {
					
				}
				.ActionWhere {
					display: inline-block;
				}
				.ActionAnd {
					.trait-and-bottom {
						position: absolute;
						top: -14px;
						left: 50%;
						border-left: 3px solid $custom-red ;
						margin-left: -1px;
						height: 15px;
						
					}
					a {
						cursor: pointer;
						display: block;
						background: #fff;
						border: 2px solid $custom-red ;
						border-radius: 15px;
						height: 30px;
						line-height: 20px;
						padding: 2px 10px;
						width: auto;
						text-align: center;
						
						&:hover {
							color: $custom-red ;
						}
					}
				}
				.ActionWhere a {
					cursor: pointer;
					display: block;
					background: #fff;
					border: 2px solid $custom-red ;
					border-radius: 13px;
					height: 26px;
					line-height: 20px;
					min-width: 26px;
					text-align: center;
					font-size: 18px;
					color: $custom-red ;
					font-weight: bold;
					padding: 0;
					
					&:hover {
						color: $custom-red ;
					}
				}
				
				&>div>div>.ShowOnHover {
					display: none;
				}
				&.OnHover>div>div.ActionsGroup>.ShowOnHover,
				&.OnHover>div>div.HasInputsCompleted>.ShowOnHover {
					display: block;
				}

				&>div>div>.ShowOnEdit {
					display: none;
				}

				&>div>div>.ShowOnEdit.Disabled,
				&>div>div>.ShowOnEdit.Enabled {
					display: inline-block;
				}
				&.OnEdit>div>div.ActionsGroup>.ShowOnEdit,
				&.OnEdit>div>div.HasInputsCompleted>.ShowOnEdit {
					display: block;
				}

				li.addWereDisable .ActionWhere.ShowOnEdit,
				&.WhereImpossible.OnEdit>div .ActionWhere.ShowOnEdit,
				&.OnEdit>div.completed>div .ActionWhere.ShowOnEdit {
					display: none;
				}
				&.addWereDisable>div .ObjectPropertyTypeWidget,
				&.WhereImpossible>div .ObjectPropertyTypeWidget {
					border-left-color: transparent;

					.edit-trait-top {
						display: block;
					}
				}
				&.addWereEnable>.link-where-bottom,
				&.addWereDisable>.link-where-bottom {
					display: none;
				}
				&.addWereEnable.haveWhereChild>.link-where-bottom {
					display: block;
				}
				.easy-autocomplete {
					input {
						height: $height-components-hover;
						box-sizing: border-box;
					}
				}
				.easy-autocomplete-container {
					z-index: 999;
					ul {
						line-height: 20px;
						background: #fff;
						li {
							padding: 5px;
							&.selected {
								
								background: $custom-red ;
							}
						}
					}
				}
				&.WhereImpossible.completed {
					&>div .EndClassWidgetAddOrValue,
					&>div .EndClassWidgetValue {
						max-width: 220px;
						height: 48px;
						/*overflow: hidden;*/
						/*padding-right: 15px;*/
						margin-right: -13px;
						/*display: block;*/
						
						/*@include triangle-before();
						@include triangle-after();*/
						/*span {
							background: $custom-red-light ;
							height: 48px;
							background-clip: padding-box;
							
						}*/
						p {
							line-height: 48px;
							height: 48px;
							/*width: calc(100% - 15px);*/
							background: $custom-red-medium;
							background-clip: padding-box;
							margin: 0;
							padding: 0 0 0 5px;
							display: inline-block;
							overflow: hidden;
							/*text-overflow: ellipsis;*/
							border: $center-arrow-bd-width solid #fff;
							border-left: 0;
							border-right: 0;
							
							text-align: center;
							span {
								line-height: 42px;
								display: inline-block;
								vertical-align: baseline;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								color: $default-text-color;
								width: 100%;
							}
						}
					}
					&>div .EndClassWidgetAddOrValue {
						p {
							width: 0;
							padding: 0;
							position: relative;
							height: 48px;
							line-height: 48px;
							overflow: visible;
							span {
								line-height: 42px;
								width: auto;
								text-indent: 1px;
								/*vertical-align: baseline;
								display: inline-block;
								height: 48px;*/
							}
						}
					}
					
				}
				
				.nice-select {
					background: transparent;
					border-color: transparent;
					padding-left: 10px;
					padding-right: 26px;
					ul.list li {
						border-bottom: solid 1px #e8e8e8;
						img {
							height : 40px;
							&.highlited {
								display: none;
							}
						}
						&.selected,
						&.focus,
						&:hover {
							background: $custom-red ;
							color: #fff;
							img {
								display: none;
								&.highlited {
									display: inline;
								}
							}
						}
					}
					ul.list {
						background: #fff;
						top: 0;
						margin-top: 0;
						max-height: 450px;
						overflow-y: auto;
					}
					ul.list:hover .option:not(:hover) {
						color: #000;
						img {
							display: inline;
							
							&.highlited {
								display: none;
							}
						}
					}
					.current {
						img {
							height: 40px;
							&.highlited {
								display: none;
							}
						}
					}
					&:after {
						margin-top: 0;
					}
				}
				.nice-select.disabled {
					color: $default-text-color;
					border-color: transparent;
					border-radius: 0;
				}
				.StartClassGroup>.ClassTypeId .nice-select.disabled {
					border-radius: 5px 0 0 5px;
				}
				
				&>.CriteriaGroup>.ObjectPropertyGroup>.ObjectPropertyTypeId .nice-select.disabled {
					/*padding-right: 0;*/
				}
				/*&>div>.EndClassGroup>.ClassTypeId:after,
				&>div>.StartClassGroup>.ClassTypeId:after {
					content: '';
					display: inline-block;
					width: 15px;
				}*/
				
				&.completed {
					&>div .Highlited {
						/*background: $custom-red;*/
						/*margin-right: 23px;*/
						
						.nice-select {
								background: $custom-red;
								background-clip: padding-box;
								border-color: transparent;
								color: #fff;
								height: $height-components-under;
								line-height: $height-components-under - ($center-arrow-bd-width*2);
								.current {
									img {
										display: none;
										&.highlited {
											display: inline;
										}
									}
								}
							}
							.nice-select.disabled {
								color: #fff;
								border-color: transparent;
							}
					}
					&>div>.StartClassGroup.VariableSelected .Highlited {
						.nice-select.disabled {
							border-left: 3px solid $custom-green-bold;
						}
					}
					&>div>.StartClassGroup.VariableSelected .Highlited,
					&>div>.EndClassGroup.VariableSelected .Highlited {
						.nice-select.disabled {
							border-color: $custom-green-bold;
						}
					}
					&>.CriteriaGroup>.ObjectPropertyGroup>.ObjectPropertyTypeId .nice-select.disabled {
						padding-right: 26px;
					}

					&>div .Highlited {
						position: relative;
						/*@include arrow-block($custom-red);*/
						&:before {
							
						}
					}
					/*&>div>.StartClassGroup .Highlited:before{
						display: none;
					}*/
					&>div .StartClassGroup,
					&>div .EndClassGroup {
						margin-left: -8px;
						&>.selectViewVariable {
							display: block;
							right: 18px; //+10 pour retrait dans fleche
							svg {
								stroke: #fff;
							}
						}
					}
					&>div .EndClassGroup .Highlited:before{
						/*content: '';
						width: 0;
						height: 0;
						line-height: 0;
						padding: 0;
						display: inline-block;float:left;
						border-style: solid;
						border-width: 21px 0 21px 15px;
						border-color: transparent transparent transparent #fff;*/
					}
					&>div>div .EditComponents {
						.ActionWhere,
						.ObjectPropertyTypeWidget {
							display: none;
						}
					}
					&>div>div .EditComponents.newOr {
						.ObjectPropertyTypeWidget {
							display: block;
						}
					}
					&.WhereImpossible {
						
						&>div .EndClassGroup .Highlited {
							/*background: transparent;
							color: #888;
							margin-right: 0;*/
							
							/*&:before,
							&:after {
								display: none;
							}*/
							.current {
								/*color: #888;*/
								img {
									display: inline;
									&.highlited {
										display: none;
									}
								}
							}
						}
						
					}
				
				}
				/*.ActionAnd.ShowOnEdit {
					display: none;
				}*/
			}
			li.groupe {
				&>.link-and-bottom {
					display: none;
				}
			}
			li.groupe.hasAnd {
				position: relative;
				&>.link-and-bottom {
					display: block;
					position: absolute;
					left: 36px;
					top: $height-components / 2 + $margin-component;
					border-left: 3px solid $custom-red;
					
					span {
						position: absolute;
						top: 50%;
						left: -2px;
						display: block;
						background: #fff;
						border: 2px solid $custom-red ;
						border-radius: 15px;
						height: 30px;
						line-height: 20px;
						padding: 2px 10px;
						width: auto;
						transform: translate(-50%, -50%);
					}
				}
				&.OnEdit > div > div > .ShowOnHover.ActionAnd {
					display: none;
				}
			}
			/*ul>li.groupe:last-child .ActionAnd.ShowOnEdit {
					display: block;
				}*/
		}
	
	}
	

}



.tippy-box[data-theme~='sparnatural'] {
    background-color: $custom-red-light;
    color: #000;
	border-radius: 5px;
	border: 1px dashed $custom-red;
	padding: 2px;
	font-size:0.75em;
  }